{% extends "stocks/stock_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'stocks/js/stock_list.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block vue_js %}{% endblock vue_js %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}Existencias por artículo y almacén.{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
CONTENIDO
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Existencias</h5>
        <div class="header-elements">
            <a href="{% url 'admin:stocks_stock_add' %}" class="btn btn-sm btn-primary"><i class="icon-add-to-list mr-1"></i> Nuevo</a>
        </div>
    </div>

    <table class="table datatable-responsive">
        <thead>
            <tr class="text-uppercase">
                <th></th>
                <th data-priority="1">Descripción</th>
                <th>Almacén</th>
                <th>Cant.</th>
                <th>UM</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in object_list %}
            <tr>
                <td></td>
                <td>
                    <p class="mb-0">{{ stock.thing.description }}</p>
                    <a href="{% url 'things:detail' stock.thing.pk %}">{{ stock.thing.code }}</a>
                </td>
                <td><a href="{% url 'warehouses:stock' stock.warehouse.pk %}">{{ stock.warehouse }}</a></td>
                <td>{{ stock.quantity }}</td>
                <td>{{ stock.thing.default_measure.abbreviation }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
ELEMENTOS DEL PIE DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SCRIPTS ADICIONALES
-------------------------------------------------------------------------------
{% endcomment %}
{% block script %}{% endblock script %}