{% extends "layouts/sidebar_main.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE VENTANA
-------------------------------------------------------------------------------
{% endcomment %}
{% block title %}Piwi - Existencias{% endblock title %}


{% comment %}
-------------------------------------------------------------------------------
SIDEBAR IZQUIERDO
-------------------------------------------------------------------------------
{% endcomment %}
{% block navigation %}
<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Existencias</div> <i class="icon-menu" title="Main"></i></li>
<li class="nav-item">
    <a href="{% url 'stocks:list' %}" class="nav-link ">
        <i class="fas fa-boxes"></i>  
        <span>Existencias</span>
    </a>
</li>
{% endblock navigation %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="fas fa-boxes mr-2"></i>{% endblock page_icon %}
{% block page_title %}Existencias{% endblock page_title %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'stocks:list' %}" class="breadcrumb-item">Existencias</a>
{% endblock breadcrumb %}


{% comment %}
-------------------------------------------------------------------------------
ELEMENTOS DEL PIE DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}{% endblock %}
