{% extends "seed.html" %}

{% load static %}


{% block style %}
<style>
    .logo {
        content: url("{% static 'images/logo_gw_margin.png' %}");
        margin: 0 auto;
        max-width: 500px;
        min-width: 320px;
    }
</style>
{% endblock style %}


{% block body %}
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <a target="_blank" href="http://gigawatt.com.pe/">
                <div class="logo"></div>
            </a>
            <div class="welcome text-center mb-4">
                <p class="lead">Bienvenid@ a Limitless, la herramienta web de <strong>Gigawatt Ingenieros</strong>.</p>
            </div>
            <div class="list-unstyle text-center">
                <a href="{% url 'admin:index' %}" class="btn btn-primary">
                {% if user.is_authenticated %}
                    Bienvenid@ <strong>{{ user.profile.display_name }}</strong>
                {% else %}
                Iniciar Sesión
                {% endif %}
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("load", function(event) {
        let rowContainer = document.getElementsByClassName("container")[0].firstElementChild;
        console.log(rowContainer);
        rowContainer.style.height = window.innerHeight+"px";
    });
</script>
{% endblock body %}
