{% extends 'things/things_base.html' %}

{% block content %}
<div class="row">
    <div class="col">
        <h3>Servicios</h3>
    </div>
</div>
<div class="row">
    <div class="col">
        <ul>
            {% for service in object_list %}
            <li>{{ service }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock content %}