{% extends "./thing_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'things/js/thing_list.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block vue_js %}{% endblock vue_js %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}Lista maestra de artículos{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
CONTENIDO
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Artículos</h5>
        <div class="header-elements">
            <a href="{% url 'admin:things_thing_add' %}" class="btn btn-sm btn-primary"><i class="icon-add-to-list mr-1"></i> Nuevo</a>
        </div>
    </div>

    <table class="table datatable-responsive-column-controlled">
        <thead>
            <tr class="text-uppercase">
                <th></th>
                <th>#</th>
                <th data-priority="1">Descripción</th>
                <th>U.M.</th>
                <th>Tipo</th>
                <th class="text-center"><i class="icon-cog text-muted"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for thing in object_list %}
            <tr>
                <td></td>
                <td><a href="{{ thing.id }}">{{ thing.id }}</a></td>
                <td>{{ thing.description }}</td>
                <td>{{ thing.default_measure.abbreviation }}</td>
                {% if thing.kind == "st" %}
                <td><span class="badge bg-primary">{{ thing.get_kind_display }}</span></td>
                {% elif thing.kind == "cs" %}
                <td><span class="badge bg-success">{{ thing.get_kind_display }}</span></td>
                {% elif thing.kind == "sv" %}
                <td><span class="badge bg-purple">{{ thing.get_kind_display }}</span></td>
                {% else %}
                {% endif %}
                <td class="text-center">
                    <div class="list-icons">
                        <a href="{% url 'admin:things_thing_change' thing.pk %}" class="list-icons-item"><i class="icon-pencil7"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-trash"></i></a>
                        <a href="#" class="list-icons-item"><i class="icon-cog6"></i></a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
ELEMENTOS DEL PIE DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SCRIPTS ADICIONALES
-------------------------------------------------------------------------------
{% endcomment %}
{% block script %}{% endblock script %}