{% extends "things/thing_base.html" %}



{% block title %}
GW // Artículos // Búsqueda
{% endblock title %}



{# Título de la página #}
{% block page_title %}
<div class="page-title d-flex">
    <h5>
        <i class="icon-cube mr-2"></i> <span class="font-weight-semibold">Artículos</span>
        <small>Búsqueda</small>
    </h5>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
</div>
{% endblock page_title %}



{# Elementos a la derecha del título de la página #}
{% block page_title_elements %}
<div class="header-elements d-none">
    {# TODO: Implementar búsqueda de artículos #}
    <form action="{% url 'things:search' %}" method="GET">
        <div class="form-group form-group-feedback form-group-feedback-right">
            <input type="search" name="q" class="form-control wmin-md-200" placeholder="Buscar artículo">
            <div class="form-control-feedback">
                <i class="icon-search4 font-size-sm text-muted"></i>
            </div>
        </div>
    </form>
</div>
{% endblock page_title_elements %}



{% block breadcrumb %}
{# TODO: Redireccionar al Dashboard #}
<a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
<span class="breadcrumb-item">Compras</span>
<a href="{% url 'things:list' %}" class="breadcrumb-item">Artículos</a>
<span class="breadcrumb-item active">{{ query }}</span>
{% endblock breadcrumb %}



{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Artículos</h5>
    </div>
    <div class="table-responsive">
        <table class="table table-xs table-hover">
            <thead>
                <tr>
                    <th style="width: 50px;">#</th>
                    <th>Código</th>
                    <th>Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for thing in object_list %}
                <tr>
                <td class="font-weight-semibold">{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>
                        <a href="{% url 'things:detail' thing.pk %}">{{ thing.code }}</a>
                    </td>
                    <td>{{ thing.description }}</td>
                </tr>
                {% empty %}
                    <tr>
                        <td class="text-center text-muted" colspan="3">Sin resultados.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="card-footer bg-white d-sm-flex align-items-sm-center">
        {% if is_paginated or page_obj.paginator.count > 0 %}
        <ul class="pagination align-self-start pagination-sm justify-content-center mt-2 mt-sm-0">
            {% comment %} Si tiene una página "anterior" {% endcomment %}
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?q={{ query }}&page={{ page_obj.previous_page_number }}" class="page-link">&larr;</a>
            </li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="page-link">&larr;</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
                {% comment %} Si página actual es igual al actual iterador (i)... {% endcomment %}
                {% if page_obj.number == i %}
                {% comment %} ... cambiar estado a activo {% endcomment %}
                <li class="page-item active"><a class="page-link">{{ i }}</a></li>
                {% else %}
                <li class="page-item"><a href="?q={{ query }}&page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% comment %} Si tiene una página "siguiente" {% endcomment %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="q={{ query }}&page={{ page_obj.next_page_number }}" class="page-link">&rarr;</a></li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="page-link">&rarr;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<!-- /basic card -->
{% endblock content %}