{% extends "things/thing_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Detalle</span>{% endblock page_secondary_title %}
{% block page_subtitle %}{% endblock page_subtitle %}
{% block header_elements %}
<div class="header-elements d-none">
    <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-link btn-float text-default"><i class="fas fa-chart-line text-primary"></i><span>Hist. Precios</span></a>
    </div>
</div>
{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">{{ object.code }}</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
CONTENIDO
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-white">
        <h5 class="card-title">Detalle de Artículo</h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col">
                {% if object.image %}
                <img src="/media/{{ object.image }}" alt="imagen" class="rounded" width="300" style="display: block;">
                {% else %}
                <img src="https://via.placeholder.com/300" alt="imagen" class="rounded">
                {% endif %}
            </div>
            <div class="col col-md">
                <div class="row">
                    <div class="col col-md mt-3 mt-sm-0">
                        <h4 class="mt-0">{{ object.description }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <h5>Descripción</h5>
                        <p>Ut ultrices justo pellentesque ante laoreet, eget venenatis ipsum cursus. Aliquam sagittis ante sed dolor fermentum, ultrices convallis turpis iaculis. Mauris feugiat et magna non tempus. Nunc at augue sodales, sagittis turpis a, tempor arcu. Donec id metus eget sem facilisis maximus. Nullam tellus odio, mollis at mi vel, ultrices tempor neque. Suspendisse sollicitudin felis sit amet dictum dictum. Sed rutrum, sapien sit amet pretium tincidunt, massa ipsum varius dolor, ut tristique est justo venenatis urna. Duis aliquet semper porttitor.</p>
                    </div>
                </div>
                
                {% comment %}
                <div class="row">
                    <div class="col-md">
                        <h6 class="font-weight-semibold">Código</h6>
                        {% if %}
                        <p>{{ object.code }}</p>
                        {% endif %}
                        <h6 class="font-weight-semibold">UNSPSC</h6>
                        <p>{{ object.unspsc }}</p>
                    </div>
                    <div class="col-md">
                        <h6 class="font-weight-semibold">Enlaces</h6>
                        <ul class="list-unstyled">
                            <li class=""><a href="#">Ficha de datos.pdf</a></li>
                            <li class=""><a href="#">Ficha de seguridad.pdf</a></li>
                        </ul>
                    </div>
                </div>
                {% endcomment %}

            </div>
        </div>
        {% if object.data_sheet %}
        <hr>
        <div class="row">
            <h6 class="font-weight-semibold">Enlaces</h6>
            <ul class="list-unstyled">
                <li><a href="#">{{ object.description }} (PDF)</a></li>
                <li><a href="#">{{ object.description }} (PDF)</a></li>
            </ul>
        </div>
        {% endif %}
    </div>
</div>

<div class="card">
    <div class="card-header">
        <h6 class="card-title font-weight-semibold">Existencias</h6>
    </div>
    <div class="table-responsive">
        <table class="table table-xs">
            <thead>
                <tr>
                    <th>Proyecto / Almacén</th>
                    <th>Cant.</th>
                    <th>U.M.</th>
                </tr>
            </thead>
            <tbody>
            {% for row in stock %}
                <tr>
                    <td><a href="{% url 'warehouses:stock' row.warehouse.pk %}">{{ row.warehouse }}</a></td>
                    <td>{{ row.quantity }}</td>
                    <td>{{ row.thing.default_measure.abbreviation }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
ELEMENTOS DEL PIE DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SCRIPTS ADICIONALES
-------------------------------------------------------------------------------
{% endcomment %}
{% block script %}{% endblock script %}