{% extends "base.html" %}

{% block title %}
GW // Nuevo artículo
{% endblock title %}

{% block page_title %}
Registrar artículo
{% endblock page_title %}

{% block page_content %}
<form action="{% url 'things:create' %}" method="POST">{% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Enviar">
</form>

<br>
<a href="{% url 'things:list' %}"><- Lista de artículos</a>
{% endblock page_content %}