<li class="nav-item-header">
    <div class="text-uppercase font-size-xs line-height-xs">Socios De Negocio</div> <i class="icon-menu" title="Main"></i>
</li>
<li class="nav-item">
    <a href="{% url 'partners:partner-list' %}" class="nav-link ">
        <i class="fas fa-handshake"></i>
        <span>Socios de Negocio</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'partners:customer-list' %}" class="nav-link ">
        <i class="fas fa-user-tie"></i>
        <span>Clientes</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'partners:provider-list' %}" class="nav-link ">
        <i class="fas fa-user-secret"></i>
        <span>Proveedores</span>
    </a>
</li>