{% extends "partners/partner_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'partners/js/partners.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %}<span class="font-weight-light text-grey-600"> / Lista</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}

{% comment %} BREADCRUMB ELEMENTS {% endcomment %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Directorio de Socios</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a target="_blank"  href="{% url 'admin:partners_partner_add' %}" class="btn btn-sm btn-light ml-3"><i class="icon-database-add mr-2"></i>Registrar</a>
            </div>
        </div>
    </div>

    <table class="table table-xs partner-datatable">
        <thead>
            <tr>
                <th></th>
                <th>RUC</th>
                <th>Socio</th>
                <th>Cliente</th>
                <th>Proveedor</th>
                <th>Activo</th>
                <th><span class="text-muted"><i class="icon-cog3"></i></span></th>
            </tr>
        </thead>
        <tbody>
            {% for partner in object_list %}
            <tr>
                <td></td>
                <td><a href="{% url 'partners:partner-detail' partner.pk %}">{{ partner.fiscal_number }}</a></td>
                <td>{{ partner.business_name }}</td>
                <td>
                    <span hidden>{{ partner.is_customer }}</span>
                    {% if partner.is_customer %}
                    <span class="text-success"><i class="icon-checkmark3"></i></span>
                    {% else %}
                    <span class="text-danger"><i class="icon-cross2"></i></span>
                    {% endif %}
                </td>
                <td>
                    <span hidden>{{ partner.is_vendor }}</span>
                    {% if partner.is_vendor %}
                    <span class="text-success"><i class="icon-checkmark3"></i></span>
                    {% else %}
                    <span class="text-danger"><i class="icon-cross2"></i></span>
                    {% endif %}
                </td>
                <td>
                    <span hidden>{{ partner.is_active }}</span>
                    {% if partner.is_active %}
                    <span class="text-success"><i class="icon-checkmark3"></i></span>
                    {% else %}
                    <span class="text-danger"><i class="icon-cross2"></i></span>
                    {% endif %}
                </td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}
