{% extends "partners/partner_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
{% comment %} <script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script> {% endcomment %}
{% endblock before_app_js %}
{% block after_app_js %}
{% comment %} <script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'partners/js/partners.js' %}"></script> {% endcomment %}
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %}<span class="font-weight-light text-grey-600"> / Detalle</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}{{ object.business_name }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">{{ object.fiscal_number }}</span>
{% endblock breadcrumb %}

{% comment %} BREADCRUMB ELEMENTS {% endcomment %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">{{ object.business_name }}</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a target="_blank"  href="{% url 'admin:partners_partner_change' object.pk %}" class="btn btn-sm btn-light ml-3"><i class="icon-database-edit2 mr-2"></i>Editar</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-5">Nro. Fiscal</dt>
                    <dd class="col-sm-7">{{ object.fiscal_number }}</dd>
                    <dt class="col-sm-5">Nombre</dt>
                    <dd class="col-sm-7">{{ object.business_name }}</dd>
                    <dt class="col-sm-5">Dirección</dt>
                    <dd class="col-sm-7">{{ object.fiscal_address }} {{ object.address_second_line }}</dd>
                    <dt class="col-sm-5">Localización</dt>
                    <dd class="col-sm-7">{{ object.location }}</dd>
                </dl>
            </div>
            <div class="col-md-6">
                <dl class="row">
                    <dt class="col-sm-5">Teléfono</dt>
                    <dd class="col-sm-7">{{ object.phones|join:" / " }}</dd>
                    <dt class="col-sm-5">Email</dt>
                    <dd class="col-sm-7">{{ object.email }}</dd>
                    <dt class="col-sm-5">Sitio Web</dt>
                    <dd class="col-sm-7">{{ object.web_site }}</dd>
                    <dt class="col-sm-5">Tags</dt>
                    <dd class="col-sm-7"> {{ object.categories|join:" / " }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xl-4">
        <div class="card card-body">
            <div class="media">
                <div class="mr-3 align-self-center">
                    <i class="icon-pointer icon-3x text-success-400"></i>
                </div>

                <div class="media-body text-right">
                    <h3 class="font-weight-semibold mb-0">S/ -</h3>
                    <span class="text-uppercase font-size-sm text-muted">total facturado</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="card card-body">
            <div class="media">
                <div class="media-body">
                    <h3 class="font-weight-semibold mb-0">S/ -</h3>
                    <span class="text-uppercase font-size-sm text-muted">linea de crédito</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-bubbles4 icon-3x text-blue-400"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-xl-4">
        <div class="card card-body">
            <div class="media">
                <div class="media-body">
                    <h3 class="font-weight-semibold mb-0">S/ -</h3>
                    <span class="text-uppercase font-size-sm text-muted">deuda total</span>
                </div>

                <div class="ml-3 align-self-center">
                    <i class="icon-bubbles4 icon-3x text-blue-400"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-xl-12">
        <div class="card">
            <div class="card-header bg-light">
                <h5 class="card-title">Contactos</h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width:300px">Nombre Completo / Cargo</th>
                            <th style="min-width:250px">Email</th>
                            <th style="min-width:220px">Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for contact in directory %}
                        <tr>
                            <td>
                                <h6 class="mb-0">{{ contact.name }}</h6>
                                <span class="text-muted">{{ contact.title }}</span>
                            </td>
                            <td><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></td>
                            <td>
                                <a href="tel:{{ contact.phones|first }}">{{ contact.phones|first }}</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center font-italic">Sin contactos para mostrar</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col col-xl-12">
        <div class="card">
            <div class="card-header bg-light">
                <h5 class="card-title">Cuentas Bancarias</h5>
            </div>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width:280px">Descripción</th>
                            <th style="min-width:250px">Nro. de Cuenta</th>
                            <th style="min-width:320px">CCI</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.description }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.interbank_code|default:"-" }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="3" class="text-center font-italic">Sin cuentas para mostrar</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}
