{% extends 'partners/provider_base.html' %}

{% block page_title %}
<div class="page-title d-flex">
    <h5>
        <i class="icon-user-tie mr-2"></i> <span class="font-weight-semibold">Socios de Negocio</span>
        <small class="text-muted">
        {% if object.alias == ''  %}
            {{ object.business_name }}
        {% else %}
            {{ object.alias }}
        {% endif %}
        </small>
    </h5>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
</div>
{% endblock page_title %}

{% block breadcrumb %}
<a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
<a href="{% url 'partners:provider-list' %}" class="breadcrumb-item">Socios de Negocio</a>
<span class="breadcrumb-item active">{{ object.identity_number }}</span>
{% endblock breadcrumb %}


{% block content %}
    {% for contact in contacts %}
        <section>
            <span class="h6 font-weight-semibold">{{ contact }}</span><br>
            <span class="text-info">{{ contact.title }}</span><br>
            <small class="text-info">{{ contact.branch_office }}</small><br>
            <strong>tel:</strong><br>
            {{ contact.phones|join:" // " }}
            <br>
            <strong>email:</strong>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
        </section>
        <hr>
    {% endfor %}
        
{% endblock content %}
    