{% extends "layouts/sidebar_main.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE VENTANA
-------------------------------------------------------------------------------
{% endcomment %}
{% block title %}Limitless | Proveedores{% endblock title %}


{% comment %}
-------------------------------------------------------------------------------
NAVEGACION LATERAL
-------------------------------------------------------------------------------
{% endcomment %}
{% block navigation %}
{% include "partners/navigation.html" %}
{% endblock navigation %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="fas fa-handshake mr-2"></i>{% endblock page_icon %}
{% block page_title %}Proveedores{% endblock page_title %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'partners:partner-list' %}" class="breadcrumb-item">Socios de Negocio</a>
{% endblock breadcrumb %}