{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Limitless | Iniciar Sesión</title>
    
    <!-- Global stylesheets -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.js"></script>
	<!-- /core JS files -->

	<!-- Theme files -->
	<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
	<!-- /theme files -->

</head>

<body>
    <!-- Page content -->
	<div class="page-content">
        
        <!-- Main content -->
		<div class="container-fluid">
            <div class="row no-gutter">
                <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
                <div class="col-md-8 col-lg-6">
                <div class="login d-flex align-items-center py-5">
                    <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-8 mx-auto">
                        <h3 class="login-heading mb-4">¡Hola, bienvenido!</h3>
                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-label-group">
                                <input type="text" name="username" id="id_username" class="form-control" placeholder="Usuario" required autofocus>
                                <label for="id_username">Usuario</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="password" id="id_password" class="form-control" placeholder="Contraseña" required>
                                <label for="id_password">Contraseña</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Iniciar Sesión</button>
                            <div class="text-center">
                            <a class="small" href="#">¿Has olvidado la contraseña?</a></div>
                        </form>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
		<!-- /main content -->

	</div>
	<!-- /page content -->
</body>
</html>