<template>
    <div class="purchase-line">[[ msg ]]</div>
</template>

<script>
module.exports = {
    props: ["msg"],
    data: function () {
        return {}
    }
}
</script>

<style>
.purchase-line {
    color: purple;
    font-family: monospace;
}
</style>
