<template>
    <select :data-placeholder="helperText">
        <option></option>
    </select>
</template>

<script>
module.exports = {
    props: ["selectData", "helperText", "value"],
    watch: {
        selectData: function (newData, oldData) {
            console.log("watched");
            let vm = this;
            $(this.$el)
                .select2({ data: newData })
                .val(this.value)
                .trigger("change")
                .on("change", function() {
                    vm.$emit("input", this.value);
                });
        }
    },
    destroyed: function () {
        $(this.$el)
            // desactiva el elemento
            .off()
            // destruye el select2
            .select2("destroy");
    }
}
</script>

<style>

</style>