{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ object.move_type|upper }}/{{ object.origin.name }}/{{ object.destination.name }}/{{ object.code }}</title>
    <link rel="stylesheet" href="{% static 'stocks/css/stocks.css' %}">
</head>
<body>
    <br>
    Fecha de inicio de traslado:<strong>{{ object.start_date }}</strong>
    <br>
    <br>
    Destinatario: <strong></strong><br>
    RUC: <strong></strong>
    <br>
    <br>
    <br>
    Tipo: <b>{{ object.get_kind_display }}</b>
    <br>
    <br>
    Punto de partida: <b>{{ object.origin.address }}</b>
    <br>
    Punto de llegada: <b>{{ object.destination.address }}</b>
    <br>
    <br>
    <table width="100%">
        <thead>
            <tr>
                <th style="border-bottom: 1px black dashed;">Descripción</th>
                <th style="border-bottom: 1px black dashed;">Cant.</th>
                <th style="border-bottom: 1px black dashed;">U.M.</th>
                <th style="border-bottom: 1px black dashed;">Peso</th>
            </tr>
        </thead>
        <tbody>
            {% for line in object.details.all %}
            <tr>
                <td>{{ line.thing }}</td>
                <td>{{ line.demand }}</td>
                <td>{{ line.uom }}</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>