{% extends "bootstrap/shell.html" %}

{% block sidebar %}
<a href="#" class="list-group-item list-group-item-action bg-light d-flex justify-content-between align-items-center">
    Dashboard
    <span class="badge badge-warning badge-pill"><i class="fas fa-star"></i></span>
</a>
<a href="#" class="list-group-item list-group-item-action bg-light">Transferencias</a>
{% endblock sidebar %}