{% extends "./stock_base.html" %}
{% load static %}


{% block content %}
<h3 style="margin-top: 1rem;">
    Detalle de movimiento
</h3>
<div class="text-muted d-flex justify-content-between">
    <span class="h4 mb-0">{{ object.move_type|upper }} / {{ object.origin.name }} > {{ object.destination.name }} / {{ object.code }}</span>
    <span class="h4 mb-0">{{ object.start_date|date:"d-m-Y" }}</span>
</div>
<hr>
<div class="row">
    <div class="col-6">
        <h4>Origen</h4>
        <ul class="list-unstyled">
            <li>
            {% if object.origin.project %}
                CP{{ object.origin.project.alias }}
            {% else %}
                {{ object.origin.partner.alias }}
                <li class="">
                    <small class="text-muted">{{ object.origin.partner.business_name }}</small> -
                    <small class="text-muted">{{ object.origin.partner.identity_number }}</small>
                </li>
            {% endif %}
            </li>
            <li>
            {% if object.origin %}
                {{ object.origin.address }} {% if object.origin.address2 %}({{ object.origin.address2 }}){% endif %}<br>
                {{ object.origin.location }}
            {% else %}
                {{ object.address_origin }}
            {% endif %}
            </li>
        </ul>
    </div>
    <div class="col-6">
        <h4>Destino</h4>
        <ul class="list-unstyled">
            <li>
            {% if object.destination.project %}
                CP{{ object.destination.project.alias }}
            {% else %}
                {{ object.destination.partner.alias }}
            {% endif %}
            </li>
            <li>
            {% if object.destination %}
                {{ object.destination.address }} {% if object.destination.address2 %}({{ object.destination.address2 }}){% endif %}<br>
                {{ object.destination.location }}
            {% else %}
                {{ object.address_destination }}
            {% endif %}
            </li>
        </ul>
    </div>
</div>

<table class="table table-sm mt-4">
    <thead class="thead-light">
        <tr>
            <th>Descripción</th>
            <th>Cant.</th>
            <th>U.M.</th>
            <th>Peso</th>
        </tr>
    </thead>
    <tbody>
        {% for line in object.details.all %}
        <tr>
            <td>{{ line.thing }}</td>
            <td>{{ line.demand }}</td>
            <td>{{ line.uom }}</td>
            <td>-</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}