{% extends './move_base.html' %}

{% block content %}
<h3 style="margin-top: 1rem;">
    Movimientos
</h3>

<table class="table table-sm mt-4">
    <thead>
        <tr>
            <th>Código</th>
            <th>Tipo</th>
            <th>Origen</th>
            <th>Destino</th>
            <th>Fecha</th>
            <th>Referencia</th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
        <tr>
            <td><a href="">{{ object }}</a></td>
            <td>{{ object }}</td>
            <td><a href="">{{ object.origin }}</a></td>
            <td><a href="">{{ object.destination }}</a></td>
            <td>{{ object.start_date }}</td>
            <td>{{ object.documents }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}