{% extends "warehouses/warehouse_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'warehouses/js/warehouse_stock.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Existencias</span>{% endblock page_secondary_title %}
{% block page_subtitle %}Lista de artículos existentes en {{ warehouse }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
{{ block.super }}
<a href="{% url 'warehouses:detail' warehouse.pk %}" class="breadcrumb-item">{{ warehouse.name }}</a>
<span class="breadcrumb-item active">Existencias</span>
{% endblock breadcrumb %}


{% comment %}
-------------------------------------------------------------------------------
CONTENIDO
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Artículos existentes</h5>
    </div>
    
    <table class="table datatable-responsive-column-controlled">
        <thead>
            <tr>
                <th></th>
                <th>Código</th>
                <th>Artículo</th>
                <th style="width: 115px;">Cant.</th>
                <th>U.M.</th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr>
                <td></td>
                <td><a href="{% url 'things:detail' object.thing.pk %}">{{ object.thing.code }}</a></td>
                <td>{{ object.thing.description }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.thing.default_measure.abbreviation }}</td>
            </tr>                
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
ELEMENTOS DEL PIE DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SCRIPTS ADICIONALES
-------------------------------------------------------------------------------
{% endcomment %}
{% block script %}{% endblock script %}