{% extends "./warehouse_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'warehouses/js/warehouse_list.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block vue_js %}{% endblock vue_js %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
CONTENIDO
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Almacenes Registrados</h5>
        <div class="header-elements">
            <a href="{% url 'admin:warehouses_warehouse_add' %}" class="btn btn-sm btn-primary"><i class="icon-add-to-list mr-1"></i> Nuevo</a>
        </div>
    </div>

    <table class="table datatable-responsive">
        <thead>
            <tr class="text-uppercase">
                <th></th>
                <th data-priority="1">Nombre</th>
                <th>Estado</th>
                <th>Artículos</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
        {% for warehouse in object_list %}
            <tr>
                <td></td>
                <td>
                    <p class="mb-0 font-weight-semibold"><a href="{{ warehouse.id }}">{{ warehouse.project }} / {{ warehouse.name }}</a></p>
                    <span class="text-muted">{{ warehouse.address|upper }}</span>
                </td>
                <td>
                    {% if warehouse.is_active %}
                    <span class="badge bg-success">Activo</span>
                    {% else %}
                    <span class="badge bg-danger">Inactivo</span>
                    {% endif %}
                </td>
                <td class="text-center">{{ warehouse.stock__count }}</td>
                <td>S/ 125,452.20</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
ELEMENTOS DEL PIE DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SCRIPTS ADICIONALES
-------------------------------------------------------------------------------
{% endcomment %}
{% block script %}{% endblock script %}