{% extends "warehouses/warehouse_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
THEME JS FILES
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/footable/footable.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'warehouses/js/warehouse_detail.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Detalle</span>{% endblock page_secondary_title %}
{% block page_subtitle %}Información de almacén {{ object.name }}{% endblock page_subtitle %}
{% block header_elements %}
<div class="header-elements d-none">
    <div class="d-flex justify-content-center">
        <a href="{% url 'warehouses:stock' object.pk %}" class="btn btn-link btn-float text-default"><i class="fas fa-boxes text-primary"></i><span>Existencias</span></a>
    </div>
</div>
{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">{{ object.name }}</span>
{% endblock breadcrumb %}


{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}

{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Información de almacén</h5>
        <div class="header-elements">
            {# <button type="button" id="newWarehouse" class="btn btn-sm btn-primary"><i class="icon-add-to-list mr-2"></i> Nuevo</button> #}
            <a href="{% url 'admin:warehouses_warehouse_change' object.pk %}" class="btn btn-sm btn-primary"><i class="icon-database-edit2 mr-1"></i> Editar</a>
        </div>
    </div>
    <div class="card-body">
        <!-- Mapa -->
        {% if object.map_url == "" or object.map_url is None %}
        <div width="100%" style="background-color:silver; height:350px; text-align:center; vertical-align: middle; line-height: 350px;">
            <span class="lead">Mapa no disponible. Sin información de ubicación.</span>
        </div>
        {% else %}
        <iframe src="{{ object.map_url }}" width="100%" height="350" frameborder="0" style="border:0;"></iframe>
        {% endif %}
        <!-- /mapa -->

        <!-- Information -->
        <div class="row mt-3">
            <div class="col-lg-6">
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt class="text-uppercase">Nombre:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">
                            {{ object.name }}
                        </dd>
                    </div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt class="text-uppercase">Dirección:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">
                            {{ object.address }} {% if object.address2 != "" %}{{ object.address2 }}{% endif %}
                        </dd>
                    </div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt class="text-uppercase">Ubigeo:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">
                            {{ object.location }}
                        </dd>
                    </div>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt class="text-uppercase">Proyecto:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">
                            <a href="{% url 'projects:detail' object.project.pk %}">CP/GW-{{ object.project }}-{{ object.project.award_date|date:"Y" }}</a>
                        </dd>
                    </div>
                </dl>
                <dl class="row mb-0">
                    <div class="col-sm-4 text-sm-right">
                        <dt class="text-uppercase">Estado:</dt>
                    </div>
                    <div class="col-sm-8 text-sm-left">
                        <dd class="mb-1">
                        {% if object.is_active %}
                            <span class="badge badge-success">Activo</span>
                        {% else %}
                            <span class="badge badge-danger">Inactivo</span>
                        {% endif %}
                        </dd>
                    </div>
                </dl>
            </div>
        </div>
        <!-- /information -->
    </div>
</div>

<div class="card">
    <div class="card-header header-elements-inline">
        <h6 class="card-title">Personal Asignado</h6>
        <div class="header-elements">
            <div class="list-icons ml-3">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <table class="table table-togglable">
        <thead class="text-uppercase">
            <tr>
                <th data-toggle="true">Nombres y Apellidos</th>
                <th data-hide="phone">Nro. Doc.</th>
                <th data-hide="phone,tablet">Tel.</th>
                <th data-hide="phone,tablet">Email</th>
            </tr>
        </thead>
        <tbody>
        {% for storekeeper in storekeepers %}
            <tr>
                <td>{{ storekeeper.user.collaborator.full_name }}</td>
                <td>{{ storekeeper.user.collaborator.idn }}</td>
                <td>{{ storekeeper.user.collaborator.phone }}</td>
                <td><a href="mailto:{{ storekeeper.user.email }}">{{ storekeeper.user.email }}</a></td>
            </tr>
        {% empty %}
        <tr>
            <td class="text-center text-grey" colspan=4>Sin personal asignado</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}