{% extends 'shell.html' %}
{% load static %}



{% block navbar_togglers %}
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
    <i class="icon-tree5"></i>
</button>
<button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
    <i class="icon-paragraph-justify3"></i>
</button>
{% endblock navbar_togglers %}



{% block navbar_collapsers %}
<li class="nav-item">
    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block">
        <i class="icon-paragraph-justify3"></i>
    </a>
</li>
{% endblock navbar_collapsers %}
