{% extends "collaborators/collaborator_base.html" %}



{# Título de la página #}
{% block page_title %}
<div class="page-title d-flex">
    <h5>
        <i class="icon-users4 mr-2"></i> <span class="font-weight-semibold">Colaboradores</span>
        <small class="text-muted">{{ object.idn }}</small>
    </h5>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
</div>
{% endblock page_title %}



{# Elementos a la derecha del título de la página #}
{% block page_title_elements %}{% endblock page_title_elements %}



{% block breadcrumb %}
<a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
<a href="#" class="breadcrumb-item">Proyectos</a>
<a href="{% url 'collaborators:list' %}" class="breadcrumb-item">Colaboradores</a>
<span class="breadcrumb-item active">{{ object.get_display_name }}</span>
{% endblock breadcrumb %}



{# Elementos a la derecha de los breadcrumbs #}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}



{% block content %}
<!-- Basic card -->
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Información de Colaborador</h5>
        <div class="header-elements">
            <a href="{% url 'collaborators:register' %}" class="btn btn-light btn-sm">
                <i class="icon-pencil5 mr-1"></i> Editar
            </a>
        </div>
    </div>

    <div class="card-body">

    </div>

    <div class="card-footer bg-light d-sm-flex justify-content-sm-between align-items-sm-center">
        {% if is_paginated %}
        <ul class="pagination pagination-flat pagination-sm justify-content-around mt-2 mt-sm-0">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&larr;</a></li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="page-link">&larr;</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&rarr;</a></li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="page-link">&rarr;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<!-- /basic card -->
{% endblock content %}