{% extends 'collaborators/collaborator_base.html' %}


{# Título de la página #}
{% block page_title %}
<div class="page-title d-flex">
    <h5>
        <i class="fa fa-group mr-2"></i> <span class="font-weight-semibold">Colaboradores</span>
    </h5>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
</div>
{% endblock page_title %}




{# Elementos a la derecha del título de la página #}
{% block page_title_elements %}
<div class="header-elements d-none">
    {# TODO: Implementar búsqueda de colaboradores #}
    <form>
        <div class="form-group form-group-feedback form-group-feedback-right">
            <input type="search" class="form-control wmin-md-200" placeholder="Buscar">
            <div class="form-control-feedback">
                <i class="icon-search4 font-size-sm text-muted"></i>
            </div>
        </div>
    </form>
</div>
{% endblock page_title_elements %}




{% block breadcrumb %}
{# TODO: Redireccionar al Dashboard #}
<a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
<a href="#" class="breadcrumb-item">Proyectos</a>
<span class="breadcrumb-item active">Colaboradores</span>
{% endblock breadcrumb %}




{# Elementos a la derecha de los breadcrumbs #}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <div class="breadcrumb-elements-item dropdown p-0">
            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                <i class="icon-filter3"></i> Filtrar
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">
                    Todos
                    <i class="fa fa-asterisk mr-0 ml-auto"></i>
                </a>
                <a href="#" class="dropdown-item">
                    Activos
                    <i class="fa fa-check-circle mr-0 ml-auto text-success"></i>
                </a>
                <a href="#" class="dropdown-item">
                    Inactivos
                    <i class="fa fa-minus-circle mr-0 ml-auto text-danger"></i>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    Exportar
                    <i class="fa fa-download mr-0 ml-auto"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}




{% block content %}
<!-- Basic card -->
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Colaboradores</h5>
    </div>
    
    <div class="table-responsive">
        <table class="table table-xs table-hover">
            <thead>
                <tr>
                    <th style="width: 50px;">Id</th>
                    <th style="width: 115px;">DNI</th>
                    <th>Colaborador</th>
                    <th style="width: 180px;">Correo</th>
                    <th style="width: 180px;">Tel.</th>
                </tr>
            </thead>
            <tbody>
                {% for collaborator in object_list %}
                <tr>
                    <td class="font-weight-semibold">{{ collaborator.user.pk }}</td>
                    <td><a href="{% url 'collaborators:detail' collaborator.pk %}">{{ collaborator.idn }}</a></td>
                    <td>{{ collaborator.user.last_name|upper }}, {{ collaborator.user.first_name }}</td>
                    <td><a href="mailto:{{ collaborator.user.email }}">{{ collaborator.user.email }}</a></td>
                    <td>
                        <a href="phone:{{ collaborator.phone }}">
                            <span class="bg-dark py-1 px-2 rounded">
                                <span class="text-white">{{ collaborator.phone }}</span>
                            </span>
                        </a>
                    </td>
                </tr>
                {% empty %}
                
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-footer bg-white d-sm-flex align-items-sm-center">
        {% if is_paginated %}
        <ul class="pagination align-self-start pagination-sm justify-content-center mt-2 mt-sm-0">
            {% if page_obj.has_previous %}
            <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&larr;</a></li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="page-link">&larr;</a></li>
            {% endif %}
            {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
            <li class="page-item active"><a href="#" class="page-link">{{ i }}</a></li>
            {% else %}
            <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
            <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">&rarr;</a></li>
            {% else %}
            <li class="page-item disabled"><a href="#" class="page-link">&rarr;</a></li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</div>
<!-- /basic card -->
{% endblock content %}