{% extends "collaborators/collaborator_base.html" %}

{% load static %}
{% load crispy_forms_tags %}



{% block theme_js_files %}
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{{ block.super }}
<script src="{% static 'collaborators/collaborators.js' %}"></script>
{% endblock theme_js_files %}




{# Título de la página #}
{% block page_title %}
<div class="page-title d-flex">
    <h5>
        <i class="icon-users4 mr-2"></i> <span class="font-weight-semibold">Colaboradores</span>
        <small class="text-muted">Registro</small>
    </h5>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
</div>
{% endblock page_title %}




{% block breadcrumb %}
{# TODO: Redireccionar al Dashboard #}
<a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
<a href="#" class="breadcrumb-item">Proyectos</a>
<a href="{% url 'collaborators:list' %}" class="breadcrumb-item">Colaboradores</a>
<span class="breadcrumb-item active">Registro</span>
{% endblock breadcrumb %}




{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Formulario de registro</h5>
    </div>

    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <hr>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">
                    <i class="icon-floppy-disk mr-2"></i>
                    Guardar
                </button>
                <a href="{% url 'collaborators:list' %}" class="btn btn-light">
                    <i class="icon-cross mr-2"></i>
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>


{% endblock content %}