<li class="nav-item-header">
    <div class="text-uppercase font-size-xs line-height-xs">Compras</div> <i class="icon-menu" title="Main"></i>
</li>
<li class="nav-item">
    <a href="#" class="nav-link ">
        <i class="far fa-list-alt"></i>
        <span>Artículos</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link ">
        <i class="fas fa-clipboard-list"></i>
        <span>Servicios</span>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="fas fa-th-list"></i>
        <span>Cotizaciones</span>
    </a>
</li>