{% extends "layouts/sidebar_main.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE VENTANA
-------------------------------------------------------------------------------
{% endcomment %}
{% block title %}Limitless | Adquisiciones{% endblock title %}


{% comment %}
-------------------------------------------------------------------------------
NAVEGACION LATERAL
-------------------------------------------------------------------------------
{% endcomment %}
{% block navigation %}
{% include "orders/navigation.html" %}
{% endblock navigation %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="far fa-credit-card mr-2"></i>{% endblock page_icon %}
{% block page_title %}Adquisiciones{% endblock page_title %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'orders:list' %}" class="breadcrumb-item">Adquisiciones</a>
{% endblock breadcrumb %}