{% extends "navigation/purchase_base.html" %}



{% block page_title %}
<div class="page-title d-flex">
    <h5>
        <i class="icon-cart mr-2"></i> <span class="font-weight-semibold">Compras</span>
        <small class="text-muted">{{ user.get_username }}</small>
    </h5>
    <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
</div>
{% endblock page_title %}



{% block page_title_elements %}
<div class="header-elements d-none">
    <form action="{% url 'purchases:search' %}" method="GET">
        <div class="form-group form-group-feedback form-group-feedback-right">
            <input type="search" name="q" class="form-control wmin-md-200" placeholder="Buscar compra">
            <div class="form-control-feedback">
                <i class="icon-search4 font-size-sm text-muted"></i>
            </div>
        </div>
    </form>
</div>
{% endblock page_title_elements %}



{% block breadcrumb %}
<a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
<a href="#" class="breadcrumb-item">Adquisiciones</a>
<a href="{% url 'purchases:list' %}" class="breadcrumb-item">Compras</a>
<span class="breadcrumb-item active">Mis compras</span>
{% endblock breadcrumb %}



{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Compras</h5>
    </div>
    
    <div class="table-responsive">
        <table class="table table-xs table-hover">
            <thead>
                <tr>
                    <th style="width: 115px;">Referencia</th>
                    <th>Fecha</th>
                    <th>Proveedor</th>
                    <th>Base imponible</th>
                    <th>Total</th>
                    <th>Estado</th>
                    <th>Comprador</th>
                    <th class="" style="width: 30px;">
                        <i class="icon-menu-open2"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for purchase in object_list %}
                <tr>
                    <td><a href="#">OC{{ purchase.string_code }}</a></td>
                    <td>{{ purchase.date_order|date:"d/m/Y" }}</td>
                    <td>{{ purchase.partner.identity_number }}</td>
                    <td>{{ purchase.amount_untaxed }}</td>
                    <td>{{ purchase.amount_total }}</td>
                    <td>{{ purchase.get_state_display }}</td>
                    <td>{{ purchase.user }}</td>
                    <td class="text-center">
                        <div class="list-icons">
                            <div class="dropdown">
                                <a href="#" class="list-icons-item" data-toggle="dropdown">
                                    <i class="icon-menu9"></i>
                                </a>
                                
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item"><i class="icon-eye"></i> Detalle</a>
                                    <a href="#" class="dropdown-item"><i class="icon-pencil5"></i> Editar</a>
                                    <a href="#" class="dropdown-item"><i class="icon-user-cancel"></i> Deshabilitar</a>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}