<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% for invoice in object_list %}
    <li>{{ invoice }} -> <a href="{{ invoice.invoice_url }}">Ver</a></li>
    {% endfor %}
</body>
</html>