{% extends "purchases/purchase_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
CSS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block end_stylesheets %}
<link rel="stylesheet" href="{% static 'purchases/css/purchase_form.css' %}">
{% endblock end_stylesheets %}

{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block vue_js %}
<script src="{% static 'js/vendor/axios.min.js' %}"></script>
{{ block.super }}
<script src="https://unpkg.com/http-vue-loader"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
{% endblock vue_js %}

{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div id="app">
    <!-- Add purchase line form modal -->
    <div id="modal_form_add_item" class="modal fade" data-backdrop="static" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Detalle de Compra</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <form @submit.prevent="pushNewLine">
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Código Externo:</label>
                                    <input type="text" placeholder="015255" class="form-control" v-model="newLine.external_code">
                                </div>
                                <div class="col-sm-4">
                                    <label class="font-weight-semibold">Demanda:<span class="text-danger">*</span></label>
                                    <input type="number"  class="form-control" v-model="newLine.demand">
                                </div>
                                <div class="col-sm-4">
                                    <label class="font-weight-semibold">Unidad de Medida:<span class="text-danger">*</span></label>
                                    <v-select
                                    :options="unitsOfMeasurement" :reduce="uom => uom.id"
                                    label="abbreviation" placeholder="Seleccione una unidad" v-model="newLine.uom"
                                    ></v-select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="font-weight-semibold">Artículo:<span class="text-danger">*</span></label>
                                    <v-select
                                    :options="things" :reduce="thing => thing.id"
                                    label="description" placeholder="Seleccione un artículo" v-model="newLine.thing"
                                    ></v-select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label>Precio Unitario:</label>
                                    <input type="number" class="form-control" v-model="newLine.price_unit" step="0.01" min="0">
                                </div>

                                <div class="form-check col-sm-6">
                                    <div class="col-sm-2">IGV:</div>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" id="id_igv_included" v-model="newLine.igv_included">
                                            <label class="form-check-label" for="id_igv_included">
                                                Incluye IGV
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                    <label class="font-weight-semibold">Tipo de gasto:<span class="text-danger">*</span></label>
                                    <v-select
                                        :options="expenseTypes" :reduce="xtype => xtype.id"
                                        label="name" placeholder="Seleccione un tipo de gasto" v-model="newLine.expense_type"
                                    ></v-select>
                                </div>
                                
                                <div class="col-sm-6">
                                    <label class="font-weight-semibold">Subtotal:</label>
                                    <input class="form-control font-weight-bold text-primary" type="text" disabled v-model="lineSubtotal">
                                    [[ lineSubtotal ]]
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-primary">Submit form</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /vertical form modal -->
    
    <div class="card">
        <div class="card-header bg-light pb-0 pt-sm-0 header-elements-sm-inline">
            <h6 class="card-title">Nueva Orden de Compra </h6>
            <div class="header-elements">
                <ul class="nav nav-tabs nav-tabs-highlight card-header-tabs">
                    <li class="nav-item">
                        <a href="#card-tab1" class="nav-link active" data-toggle="tab">
                            <i class="icon-insert-template mr-2"></i>
                            Formulario
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#card-tab2" class="nav-link" data-toggle="tab">
                            <i class="icon-upload mr-2"></i>
                            Importar
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="card-body">
            <div class="tab-pane fade show active" id="card-tab1">
                <!-- Creation Form -->
                <form>
                    <!-- Información general -->
                    <fieldset>
                        <legend class="font-weight-semibold text-uppercase font-size-sm">Información general</legend>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label font-weight-semibold">
                                        Proyecto <span class="text-danger">*</span>:
                                    </label>
                                    <v-select
                                    :options="projects" :reduce="project => project.id"
                                    label="alias" placeholder="Seleccione un proyecto" v-model="newPurchase.project"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Requerimiento:</label>
                                    <v-select
                                    :options="requisitions" :reduce="requisition => requisition.id"
                                    label="code"
                                    placeholder="Ningún requerimiento seleccionado" v-model="newPurchase.requisition"
                                    ></v-select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label font-weight-semibold">
                                        Moneda <span class="text-danger">*</span>:
                                    </label>
                                    <v-select
                                    :options="currencies" :reduce="currency => currency.id"
                                    label="name" placeholder="Seleccione una moneda" v-model="newPurchase.currency"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label">Doc. Referencia:</label>
                                    <input
                                    class="form-control" id="id_partner_reference" name="partner_reference" type="text"
                                    v-model="newPurchase.partner_reference"
                                    >
                                    <small class="form-text text-muted">Cotización, presupuesto, contrato, etc.</small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label font-weight-semibold" for="id_partner">Proveedor <span class="text-danger">*</span>:</label>
                                    <v-select
                                    v-bind:options="providers" v-bind:reduce="provider => provider.id" @input="loadContacts"
                                    label="business_name" placeholder="Seleccione un proveedor" v-model="newPurchase.partner"
                                    ></v-select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="id_contact">Contacto:</label>
                                    <v-select
                                    :options="contacts" :reduce="contact => contact.id" v-model="newPurchase.contact"
                                    label="first_name" placeholder="Ningún contacto seleccionado"
                                    ></v-select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label class="col-form-label" for="id_observation">Observación:</label>
                            <textarea class="form-control" id="id_observation" name="observation" cols="30" rows="2"
                            v-model="newPurchase.observation"
                            ></textarea>
                            <small class="form-text text-muted">Descripción general de lo que se está adquiriendo</small>
                        </div>
                    </fieldset>
                    <!-- /información general -->
                </form>
            </div>
            
            <div class="tab-pane fade" id="card-tab2">
                <!-- Upload Form -->
                Aqui va un formulario para cargar el archivo que contiene la <strong>Orden de Compra</strong> a importar.
            </div>
        </div>
        
        <div class="card-footer bg-white border-bottom-slate d-flex justify-content-between align-items-center">
            <div class="font-weight-bold text-uppercase">Detalle de Compra</div>
            <button type="button" class="btn btn-light" data-toggle="modal" data-target="#modal_form_add_item"><i class="icon icon-plus2 mr-2"></i> Agregar</button>
        </div>
        
        <!-- Detalle de compra -->
        <div class="table-responsive">
            <table class="table table-hover" id="purchase_lines_table">
                <thead>
                    <tr class="text-uppercase">
                        <th>Cod. Ext.</th>
                        <th>Demanda</th>
                        <th>U. M.</th>
                        <th>Artículo</th>
                        <th>P. Unit.</th>
                        <th>Inc. IGV</th>
                        <th>Tipo de Gasto</th>
                        <th>Subtotal</th>
                        <th class="text-center"><i class="icon-cog"></i></th>
                    </tr>
                </thead>
                <tbody v-if="newPurchaseLines.length > 0">
                    <tr v-for="line in newPurchaseLines">
                        <td>[[ line.external_code ]]</td>
                        <td>[[ line.demand ]]</td>
                        <td>[[ line.uom ]]</td>
                        <td>[[ line.thingDescription ]]</td>
                        <td>[[ line.price_unit ]]</td>
                        <td>[[ line.igv_included ]]</td>
                        <td>[[ line.expense_type ]]</td>
                        <td>[[ line.subtotal ]]</td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item" data-toggle="dropdown">
                                        <i class="icon-menu9"></i>
                                    </a>
                                    
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#" class="dropdown-item" @click="edit"><i class="icon-file-pdf"></i> Editar</a>
                                        <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Quitar</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan="9" class="text-center">
                            Ningún artículo agregado.
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td class="font-weight-semibold text-right text-uppercase" colspan="7">Subtotal</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- /detalle de compra -->
            
            <div class="card-footer bg-light d-flex justify-content-between align-items-center">
                <button class="btn bg-danger btn-labeled btn-labeled-left" type="button"
                @click="cancel"
                >
                <b><i class="fas fa-times"></i></b> Cancelar
            </button>
            <p class="font-weight-semibold text-uppercase">Artículos ([[ newPurchaseLines.length ]])</p>
            <button class="btn bg-success btn-labeled btn-labeled-left" type="button"
            @click="save"
            >
            <b><i class="fas fa-save"></i></b> Guardar
        </button>
    </div>
</div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'purchases/js/purchase_form.js' %}"></script>
{% endblock script %}