{% extends "purchases/purchase_base.html" %}
{% load static %}

{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'purchases/js/purchase_list.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %}<span class="font-weight-light text-grey-600"> / Lista</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}

{% comment %} BREADCRUMB ELEMENTS {% endcomment %}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="{% url 'purchases:list' %}" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-filter mr-2"></i> Filtrar
        </a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Pendientes</a>
            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> En Progreso</a>
            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Atendidos</a>
            <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Anulados</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'requisitions:list' %}" class="dropdown-item"><i class="icon-gear"></i> Mostrar todo</a>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Compras</h5>
        <div class="header-elements">
{#            <a href="#" class="btn btn-sm btn-light"><i class="icon-file-upload mr-2"></i> Importar</a>#}
            <a target="_blank"  href="{% url 'admin:purchases_purchase_add' %}" class="btn btn-sm btn-light ml-3"><i class="icon-database-add mr-2"></i> Nueva</a>
{#            <a href="{% url 'admin:purchases_purchase_add' %}" class="btn btn-sm btn-primary ml-3"><i class="icon-add-to-list mr-2"></i> Nueva</a>#}
        </div>
    </div>
    <table class="table datatable-responsive">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th>FECHA</th>
                <th>PROVEEDOR</th>
                <th>TOTAL</th>
                <th>ESTADO</th>
                <th>PROYECTO</th>
                <th><i class="fas fa-truck"></i></th>
                <th><i class="fas fa-file-invoice-dollar"></i></th>
                <th>COLABORADOR</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in object_list %}
            <tr>
                <td></td>
                <td class="text-nowrap"><a href="{% url 'purchases:detail' purchase.pk %}">{{ purchase }}</a></td>
                <td class="text-nowrap">{{ purchase.created_at|date:"Y-m-d" }}</td>
                <td class="text-nowrap">
                    <a href="{% url 'partners:detail' purchase.vendor.pk %}">
                        {{ purchase.vendor.business_name|truncatewords:3 }}
                    </a>
                </td>
                <td class="text-nowrap text-right">{{ purchase.currency.symbol }} {{ purchase.amount_total }}</td>
                <td>
                    {% if purchase.state == "is" %}
                    <span class="badge badge-primary">{{ purchase.get_state_display }}</span>
                    {% elif purchase.state == "cl" %}
                    <span class="badge badge-success">{{ purchase.get_state_display }}</span>
                    {% elif purchase.state == "cn" %}
                    <span class="badge badge-danger">{{ purchase.get_state_display }}</span>
                    {% endif %}
                </td>
                <td><a href="{% url 'projects:detail' purchase.project.pk %}">{{ purchase.project }}</a></td>
                <td>{{ purchase.moves_count}}</td>
                <td>{{ purchase.invoices_count }}</td>
                <td>{{ purchase.author.get_full_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}
