{% extends "layouts/sidebar_main.html" %}
{% load static %}

{% comment %}
-------------------------------------------------------------------------------
TITULO DE VENTANA
-------------------------------------------------------------------------------
{% endcomment %}
{% block title %}Piwi - Compras{% endblock title %}


{% comment %}
-------------------------------------------------------------------------------
NAVEGACION LATERAL
-------------------------------------------------------------------------------
{% endcomment %}
{% block navigation %}
<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Compras</div> <i class="icon-menu" title="Main"></i></li>
<li class="nav-item">
    <a href="{% url 'purchases:list' %}" class="nav-link ">
        <i class="fas fa-shopping-bag"></i>
        <span>Compras</span>
    </a>
</li>
{% endblock navigation %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="fas fa-shopping-bag mr-2"></i>{% endblock page_icon %}
{% block page_title %}Compras{% endblock page_title %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'purchases:list' %}" class="breadcrumb-item">Compras</a>
{% endblock breadcrumb %}