{% extends "purchases/purchase_base_dual.html" %}
{% load static %}

{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %}<span class="font-weight-light text-grey-600"> / Detalle</span>{% endblock page_secondary_title %}
{% block page_subtitle %}Detalle de compra {{ object }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">{{ object }}</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
LEFT CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block left_content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h6 class="card-title">OC #{{ object }}</h6>
        <div class="header-elements">
            <a target="_blank" href="{% url 'admin:purchases_purchase_change' object.pk %}" class="btn btn-light btn-sm ml-2">
                <i class="icon-database-edit2 mr-2"></i> Editar
            </a>
            <button type="button" class="btn btn-light btn-sm ml-2">
                <i class="icon-printer mr-2"></i> Imprimir
            </button>
        </div>
    </div>
    
    <!-- Purchase body -->
    <div class="card-body">
        <div class="row mb-2 mb-md-4 align-items-center">
            <div class="col-sm-6">
                <img src="{% static 'images/logo_gw.png' %}" class="mb-3 mt-2" alt="" style="width: 200px;">
                <ul class="list list-unstyled mb-0">
                    <li class="mt-0">Av. Calmell Del Solar Nro. 626</li>
                    <li class="mt-0">Huancayo, Junín, Perú</li>
                    <li class="mt-0">+51 (64) 600-445</li>
                </ul>
            </div>

            <div class="col-sm-6">
                <div class="text-sm-right">
                    <h4 class="font-weight-bold mt-3 mt-sm-2 mb-0">OC #{{ object }}</h4>
                    <ul class="list list-unstyled">
                        <li><span class="text-muted font-weight-light h5">{{ object.created_at|date:"F j, Y" }}</span></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Provider information -->
            <div class="col-12 col-xl-6">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th class="text-muted lead pl-0 pt-xl-0 pt-2">Emitido a:</th>
                        </tr>
                        <tr>
                            <th class="lead font-weight-semibold text-uppercase p-0">
                                {% if object.vendor.parent %}
                                {{ object.vendor.parent.business_name }}
                                {% else %}
                                {{ object.vendor.business_name }}
                                {% endif %}
                            </th>
                        </tr>
                        <tr>
                            <td class="font-size-lg pl-0 py-1">{{ object.vendor.identity_number }}</td>
                        </tr>
                        <tr>
                            <td class="p-0 text-uppercase">{{ object.vendor.address }}</td>
                        </tr>
                        <tr>
                            <td class="p-0 text-uppercase">{{ object.vendor.address2 }}</td>
                        </tr>
                        <tr>
                            <td class="p-0 text-uppercase">{{ object.vendor.ubigeo }}</td>
                        </tr>
                        {% if object.contact %}
                            <tr>
                                <td class="font-weight-semibold text-uppercase pl-0 pt-2 pb-0">{{ object.contact.branch_office }}</td>
                            </tr>
                            <tr>
                                <td class="p-0">{{ object.contact.first_name }} {{ object.contact.last_name }}</td>
                            </tr>
                            <tr>
                                <td class="p-0"><a href="mailto:{{ object.contact.email }}">{{ object.contact.email }}</a></td>
                            </tr>
                            <tr>
                                <td class="p-0">
                                    <a href="phone:{{ object.contact.phones|first }}">{{ object.contact.phones|first }}</a>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <!-- /provider information -->

            <div class="col-12 col-xl-6">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th class="text-muted lead pl-0 pt-xl-0 pt-4" colspan="2">Información adicional:</th>
                        </tr>
                        <tr class="lead font-weight-semibold">
                            <th class="p-0 pb-2" style="white-space: nowrap;">Deuda Total:</th>
                            <td class="p-0  pb-2 text-right" style="width: 100%;">{{ object.currency.symbol }} {{ object.amount_total|floatformat:2 }}</td>
                        </tr>
                        <tr>
                            <th class="p-0">Moneda:</th>
                            <td class="p-0 text-right" style="width: 100%;">
                            {% if object.currency.name_plural != "" %}
                                {{ object.currency.name_plural }}
                            {% else %}
                                {{ object.currency.name }}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th class="p-0">Autor:</th>
                            <td style="width: 100%;" class="p-0 text-right text-uppercase">{{ object.author.get_full_name }}</td>
                        </tr>
                        <tr>
                            <th class="p-0">Proyecto:</th>
                            <td style="width: 100%;" class="p-0 text-right"><a href="{% url 'projects:detail' object.project.pk %}">{{ object.project }}</a></td>
                        </tr>
                        {% if object.requisition %}
                        <tr>
                            <th class="p-0">Requerimiento:</th>
                            <td style="width: 100%;" class="p-0 text-right"><a href="{% url 'requisitions:detail' object.requisition.pk %}">{{ object.requisition }}</a></td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr class="text-uppercase">
                    <th style="min-width:300px">Descripcion</th>
{#                    <th class="text-nowrap">V. Unit.</th>#}
                    <th class="text-nowrap">P. Unit.</th>
                    <th class="text-nowrap">Cant.</th>
                    <th class="text-nowrap">V. Venta.</th>
                </tr>
            </thead>
            <tbody>
                {% for line in object.purchase_lines.all %}
                <tr>
                    <td>
                        <span class="mb-0">{{ line.thing.description }}</span><br>
                        <span class="text-muted small">{{ line.external_code }}</span>
                    </td>
{#                    <td>{{ line.price_unit|floatformat:3 }}</td>#}
                    <td>{{ line.price_unit|floatformat:3 }}</td>
                    <td>{{ line.demand }}</td>
                    <td class="text-right"><span class="font-weight-semibold">{{ line.price_subtotal|floatformat:2 }}</span></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="card-body">
        <div class="d-md-flex flex-md-wrap">
            <div class="pt-2 mb-3">
                <h6 class="mb-3">Términos y Condiciones</h6>
                <div class="mb-3 text-muted">
                    <p>{{ object.terms_conditions|safe }}</p>
                </div>
            </div>

            <div class="pt-2 mb-3 wmin-md-400 ml-auto">
                {% comment %} <h6 class="mb-3">Total</h6> {% endcomment %}
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>Subtotal:</th>
                                <td class="text-right pr-0">{{ object.currency.symbol }} {{ object.amount_untaxed|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th>IGV: <span class="font-weight-normal">(18%)</span></th>
                                <td class="text-right pr-0">{{ object.currency.symbol }} {{ object.amount_tax|floatformat:2 }}</td>
                            </tr>
                            <tr>
                                <th>Total:</th>
                                <td class="text-right text-primary pr-0"><h5 class="font-weight-semibold">{{ object.currency.symbol }} {{ object.amount_total|floatformat:2 }}</h5></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="text-right mt-3">
                    <button type="button" class="btn btn-primary btn-labeled btn-labeled-left"><b><i class="icon-paperplane"></i></b> Send invoice</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-footer">
        <span class="text-muted">Thank you for using Limitless. This invoice can be paid via PayPal, Bank transfer, Skrill or Payoneer. Payment is due within 30 days from the date of delivery. Late payment is possible, but with with a fee of 10% per month. Company registered in England and Wales #6893003, registered office: 3 Goodman Street, London E1 8BF, United Kingdom. Phone number: 888-555-2311</span>
    </div>
</div>
{% endblock left_content %}


{% comment %}
-------------------------------------------------------------------------------
RIGHT CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block sidebar_content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h6 class="card-title">Operaciones</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body p-0">
        <ul class="nav nav-sidebar" data-nav-type="accordion">
            <li class="nav-item">
                <a href="{% url 'purchases:invoices' object.pk %}" class="nav-link">
                    <i class="fas fa-file-invoice-dollar mr-3"></i>
                    Comprobantes
                    <span class="badge bg-primary badge-pill ml-auto">{{ invoices_count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'purchases:moves' object.pk %}" class="nav-link">
                    <i class="fas fa-truck mr-3"></i>
                    Despachos
                    <span class="badge bg-primary badge-pill ml-auto">{{ moves_count }}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock sidebar_content %}