{% extends "tracking/tracking_base.html" %}
{% load static %}


{% block before_app_js %}
    <script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
    <script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
    <script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
    <script src="{% static 'tracking/js/tracking_list.js' %}"></script>
{% endblock after_app_js %}


{% block page_subtitle %}Seguimiento de sobres y paquetes{% endblock page_subtitle %}

{% block content %}
<div id="app" class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Tracking List</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <table class="table datatable-responsive">
        <thead>
            <tr class="text-uppercase text-center">
                <th></th>
                <th>#</th>
                <th>Op. Logístico</th>
                <th>Operación</th>
                <th>Ref. Externa</th>
                <th>Ref. Interna</th>
                <th>G.R.</th>
                <th>Comprobante</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Fecha de Envío</th>
                <th>Fecha de Recepción</th>
                <th>Condición Pago</th>
                <th>Monto Total</th>
                <th>Contenido</th>
                <th>Cant.</th>
                <th>Proyecto</th>
                <th class="text-muted"><i class="icon-cog3"></i></th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td></td>
                <td><a href="#">{{ object.id }}</a></td>
                <td>{{ object.logistic_operator }}</td>
                <td>
                    {% if object.kind == "ip" %}
                    <span class="badge bg-primary">{{ object.get_kind_display }}</span>
                    {% else %}
                    <span class="badge bg-danger">{{ object.get_kind_display }}</span>
                    {% endif %}
                </td>
                <td>{{ object.external_reference }}</td>
                <td>{{ object.internal_reference }}</td>
                <td>-</td>
                <td>{{ object.invoice }}</td>
                <td>{{ object.contact_origin }}</td>
                <td>{{ object.contact_destination }}</td>
                <td>{{ object.shipping_date|date:"Y-m-d" }}</td>
                <td>{{ object.arrival_date|date:"Y-m-d" }}</td>
                <td>
                    {% if object.payment_condition == "cr" %}
                    <span class="badge bg-orange">{{ object.get_payment_condition_display }}</span>
                    {% else %}
                    <span class="badge bg-violet">{{ object.get_payment_condition_display }}</span>
                    {% endif %}
                </td>
                <td>{{ object.total_amount }}</td>
                <td>{{ object.content }}</td>
                <td>{{ object.quantity }}</td>
                <td>{{ object.project.alias }}</td>
                <td></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}