html {
    background-color: gray;
}

body {
    background-color: white;
    box-sizing: border-box;
    display: block;
    font-family: monospace;
    height: 297mm;
    margin: 0 auto;
    padding: 0 40px;
    width: 210mm;
}

table {
    border-collapse: separate;
    border-spacing: 15px 0;
}

@media screen {
    th:nth-child(2), td:nth-child(2) {
        text-align: center;
    }
}

@page {
    size: A4;
}

@media print {
}