<li class="nav-item">
    <a href="#" class="navbar-nav-link">
        Link
    </a>
</li>
<li class="nav-item dropdown">
    <a href="#" class="navbar-nav-link dropdown-toggle" id="navbarInventoryDropdown" role="button" data-toggle="dropdown">
        Inventario
    </a>
    <div class="dropdown-menu dropdown-menu-lg">
        <a href="{% url 'warehouses:list' %}" class="dropdown-item">
            <i class="fas fa-city"></i>
            Almacenes
        </a>
        <a href="{% url 'things:list' %}" class="dropdown-item">
            <i class="fas fa-box"></i>
            Artículos
        </a>
        <a href="{% url 'stocks:list' %}" class="dropdown-item">
            <i class="fas fa-boxes"></i>
            Existencias
        </a>
        <a href="#" class="dropdown-item">
            <i class="fas fa-dolly"></i>
            Transferencias
        </a>
    </div>
</li>
<li class="nav-item">
    <a href="{% url 'projects:list' %}" class="navbar-nav-link">
        Proyectos
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'partners:partner-list' %}" class="navbar-nav-link">
        Socios de Negocio
    </a>
    {% comment %} <div class="dropdown-menu dropdown-menu-lg">
        <a href="#" class="dropdown-item">
            <i class="fas fa-city"></i>
            Clientes
        </a>
        <a href="#" class="dropdown-item">
            <i class="fas fa-box"></i>
            Proveedores
        </a>
    </div> {% endcomment %}
</li>
<li class="nav-item">
    <a href="{% url 'orders:list' %}" class="navbar-nav-link">
        Adquisiciones
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'requisitions:list' %}" class="navbar-nav-link">
        Requerimientos
    </a>
</li>