{% extends 'projects/project_base.html' %}
{% load static %}


{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Compras</span>{% endblock page_secondary_title %}
{% block page_subtitle %}Compras vinculadas a proyecto {{ object.alias }}-{{ object.get_period }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url 'projects:detail'  object.pk %}" class="breadcrumb-item">{{ object.alias }}</a>
    <span class="breadcrumb-item text-muted">Compras</span>
{% endblock breadcrumb %}