{% extends 'projects/project_base.html' %}
{% load static %}


{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'projects/js/project_list.js' %}"></script>
{% endblock after_app_js %}


{% block vue_js %}
{{ block.super }}
<script src="{% static 'projects/js/project_vue.js' %}"></script>
{% endblock vue_js %}


{% block page_subtitle %}Lista de proyectos{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
            Filtrar
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Activos</a>
            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Inactivos</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}



{% block content %}
<div id="app" class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Proyectos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <table class="table datatable-basic">
        <thead>
            <tr class="text-uppercase text-center">
                <th>Código</th>
                <th>Nombre de Proyecto</th>
                <th>Cliente</th>
                <th>Estado</th>
                <th>Opt.</th>
            </tr>
        </thead>
        <tbody>
            {% for project in object_list %}
            <tr>
                <td class="text-center"><a href="{% url 'projects:detail' project.pk %}">#{{ project.alias }}</a></td>
                <td class="text-uppercase">{{ project.name }}</td>
                <td>{{ project.customer.alias|default:"-" }}</td>
                <td class="text-center">
                    {% if project.is_active %}
                        <i class="fas fa-check-circle text-success"></i>
                    {% else %}
                        <i class="fas fa-times-circle text-danger"></i>
                    {% endif %}
                </td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Option 1</a>
                                <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Option 2</a>
                                <a href="#" class="dropdown-item"><i class="icon-file-word"></i> Option 3</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}