{% extends "layouts/sidebar_main.html" %}

{% load static %}



{% block title %}Llankana - Proyectos{% endblock title %}


{% block navigation %}
<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Proyectos</div> <i class="icon-menu" title="Main"></i></li>
<li class="nav-item">
    <a href="{% url 'projects:list' %}" class="nav-link ">
        <i class="icon-menu3"></i>
        <span>Lista de proyectos</span>
    </a>
</li>
{% endblock navigation %}

{% block page_icon %}<i class="icon-rocket mr-2"></i>{% endblock page_icon %}
{% block page_title %}Proyectos{% endblock page_title %}


{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'projects:list' %}" class="breadcrumb-item">Proyectos</a>
{% endblock breadcrumb %}