{% extends 'projects/project_base.html' %}

{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Detalle</span>{% endblock page_secondary_title %}
{% block page_subtitle %}Detalle de proyecto CP-{{ project.alias }}-{{ project.get_period }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">{{ project.alias }}</span>
{% endblock breadcrumb %}


{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% block content %}
    <div class="row">
        <!-- Left content -->
        <div class="col-md-12 col-lg-7 col-xl-8">
            <!-- Project information -->
            <div class="card">

                <div class="card-header bg-light header-elements-inline">
                    <h5 class="card-title">Información del proyecto</h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="lead text-center mb-3">
                        <p class="h3 font-weight-medium">CP-{{ project.alias }}-{{ project.get_period }}</p>
                        {{ project.name }}
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Status:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
                                    {% if project.is_active %}
                                        <span class="badge badge-success">Activo</span>
                                    {% else %}
                                        <span class="badge badge-danger">Inactivo</span>
                                    {% endif %}
                                    </dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Responsable:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
                                        {{ project.get_leader|default:"-" }}
                                    </dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Cliente:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
                                        <a href="#">{{ project.customer.alias }}</a>
                                    </dd>
                                </div>
                            </dl>
                        </div>

                        <div class="col-lg-6">
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Adjudicación:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
                                        {{ project.award_date|date:"d.m.Y" }}
                                    </dd>
                                </div>
                            </dl>
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Actualizado al:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
                                        {{ project.updated_at|date:"d.m.Y h:m" }}
                                    </dd>
                                </div>
                            </dl>
                            {% if project.parent %}
                            <dl class="row mb-0">
                                <div class="col-sm-4 text-sm-right">
                                    <dt>Principal:</dt>
                                </div>
                                <div class="col-sm-8 text-sm-left">
                                    <dd class="mb-1">
                                        <a href="{% url 'projects:detail' project.parent.pk %}">CP-{{ project.parent.alias }}-{{ project.parent.get_period }}</a>
                                    </dd>
                                </div>
                            </dl>
                            {% endif %}
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <dl class="row mb-0">
                                <div class="col-sm-2 text-sm-right">
                                    <dt>Completado:</dt>
                                </div>
                                <div class="col-sm-10 text-sm-left">
                                    <dd>
                                        <div class="progress mb-3">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 30%">
                                                <span class="sr-only">30% Completado</span>
                                            </div>
                                        </div>
                                    </dd>
                                </div>
                            </dl>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /project information -->

            <!-- Project Stats -->
            <div class="row">
                <div class="col-sm-12 col-xl-6">
                    <div class="card card-body">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <a href="{% url 'projects:requisitions' project.pk %}">
                                    <i class="icon-clippy icon-3x text-success-400"></i>
                                </a>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0">{{ total_requisitions }}</h3>
                                <span class="text-uppercase font-size-sm text-muted">total requerimientos</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="card card-body">
                        <div class="media">
                            <div class="media-body">
                                <h3 class="font-weight-semibold mb-0">{{ total_purchases }}</h3>
                                <span class="text-uppercase font-size-sm text-muted">total compras</span>
                            </div>

                            <div class="ml-3 align-self-center">
                                <a href="{% url 'projects:purchases' project.pk %}">
                                    <i class="icon-bag icon-3x text-danger-400"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-body">
                        <div class="row text-center">
                            <div class="col-4">
                                <p><a href="#"><i class="icon-clippy icon-2x d-inline-block text-info"></i></a></p>
                                <h5 class="font-weight-semibold mb-0">2,345</h5>
                                <span class="text-uppercase text-muted font-size-sm">requerimientos</span>
                            </div>

                            <div class="col-4">
                                <p><a href="#"><i class="icon-bag icon-2x d-inline-block text-warning"></i></a></p>
                                <h5 class="font-weight-semibold mb-0">3,568</h5>
                                <span class="text-uppercase text-muted font-size-sm">compras</span>
                            </div>

                            <div class="col-4">
                                <p><a href="#"><i class="icon-cash3 icon-2x d-inline-block text-success"></i></a></p>
                                <h5 class="font-weight-semibold mb-0">$12,992,693</h5>
                                <span class="text-uppercase text-muted font-size-sm">presupuesto</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6"></div>
            </div>
            <!-- /project stats -->
        </div>
        <!-- /left content -->

        <!-- Right content -->
        <div class="col-md-12 col-lg-5 col-xl-4">
            <!-- Project files -->
            <div class="card">
                <div class="card-header bg-light header-elements-inline">
                    <h5 class="card-title">
                        <i class="icon-folder6 mr-2"></i>
                        Archivos
                    </h5>
                    <div class="header-elements">
                        <div class="list-icons">
                            <a class="list-icons-item" data-action="collapse"></a>
                            <a class="list-icons-item" data-action="reload"></a>
                        </div>
                    </div>
                </div>
                <div class="list-group list-group-flush">
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="icon-file-pdf text-danger mr-3"></i>
                        Buena_pro.pdf
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="icon-file-pdf text-danger mr-3"></i>
                        Contrato.pdf
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="icon-file-excel text-success mr-3"></i>
                        Metrado_base.xlsx
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <i class="icon-file-excel text-success mr-3"></i>
                        Metrado_contractual.xlsx
                        <span class="badge bg-success-400 ml-auto">v2.0</span>
                    </a>
                </div>
            </div>
             <!-- /project files -->
        </div>
        <!-- /right content -->
    </div>
{% endblock content %}