{% extends 'bootstrap_shell.html' %}

{% block content %}
<h2 class="mt-3">Proyecto {{ project }}</h2>
<div class="row table-responsive">
    <table class="table table-xs">
        <caption>Total adquirido: {{ total_purchased.total|floatformat:2 }}</caption>
        <thead>
            <tr>
                <th>OC</th>
                <th>Fecha</th>
                <th>Cod.</th>
                <th>Descripción</th>
                <th>Cant.</th>
                <th>UM</th>
                <th>Moneda</th>
                <th>P. Unit.</th>
                <th>Subtotal</th>
            </tr>
        </thead>
        <tbody>
            {% for detail in purchase_details %}
                <tr>
                    <td><a href="/purchases/{{ detail.purchase.pk }}">{{ detail.purchase }}</a></td>
                    <td>{{ detail.purchase.created_at|date:"d/m/Y" }}</td>
                    <td>{{ detail.thing.code }}</td>
                    <td>{{ detail.thing.description }}</td>
                    <td>{{ detail.quantity_demanded }}</td>
                    <td>{{ detail.uom.abbreviation }}</td>
                    <td>{{ detail.purchase.currency.code }}</td>
                    <td>{{ detail.price_unit|floatformat:2  }}</td>
                    <td>{{ detail.subtotal|floatformat:2  }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
<ul>
    <li><a href="/projects/{{ project.pk }}">Volver a "Proyecto"</a></li>
</ul>
</div>
{% endblock content %}