<table border=1>
    <thead>
        <tr>
            <th>#</th>
            <th>Descripción</th>
            <th>Cant.</th>
        </tr>
    </thead>
    <tbody>
        {% for line in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ line.thing__description }}</td>
            <td>{{ line.qty_pending }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>