{% extends 'warehouses/warehouse_base.html' %}

{% block content %}
<h2 class="mb-5 mt-5">Metrado contractual {{ project }}</h2>
<p><a href="/projects/{{ project.pk }}">Volver a proyecto</a></p>
<div class="table-responsive">
    <table class="table table-bordered table-sm">
        <caption></caption>
        <thead>
            <tr>
                <th>COD</th>
                <th>PARTIDA</th>
                <th>CANT</th>
                <th>UM</th>
                <th>PU</th>
                <th>SUBTOTAL</th>
            </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object.thing.code }}</td>
                <td>{{ object.thing.description }}</td>
                <td class="text-right">{{ object.quantity }}</td>
                <td>{{ object.uom.abbreviation }}</td>
                <td class="text-right">{{ object.price_unit }}</td>
                <td class="text-right">{{ object.subtotal|floatformat:2 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="row">
    <div class="offset-md-6 col-md-4 text-right">
        Total B. I.
    </div>
    <div class="col-md-2 text-right">
        <span class="font-weight-bold text-success">{{ project_total.price_total|floatformat:2 }}</span>
    </div>
</div>

{% endblock content %}