{% extends 'bootstrap_shell.html' %}

{% block content %}
<h2 class="mt-3">Proyecto {{ project }}</h2>
<div class="row">
    <table class="table table-xs">
        <caption>Total adquirido: {{ total_purchased }}</caption>
        <thead>
            <tr>
                <th>Cod.</th>
                <th>Fecha</th>
                <th>Monto</th>
            </tr>
        </thead>
        <tbody>
            {% for purchase in project_purchases %}
                <tr>
                    <td><a href="http://localhost:8000/purchases/{{ purchase.pk }}">{{ purchase.string_code }}</a></td>
                    <td>{{ purchase.created_at }}</td>
                    <td>{{ purchase.amount_untaxed }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row">
<ul>
    <li><a href="/projects/{{ project.pk }}">Volver a "Proyecto"</a></li>
    <li><a href="detail">Ver por artículo</a></li>
</ul>
</div>
{% endblock content %}