{% extends 'projects/project_base.html' %}
{% load static %}
{% load tz %}



{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'projects/js/project_requisitions.js' %}"></script>
{% endblock after_app_js %}



{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Requerimientos</span>{% endblock page_secondary_title %}
{% block page_subtitle %}Requerimientos de proyecto CP-{{ project.alias }}-{{ project.get_period }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}



{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url 'projects:detail' project.pk %}" class="breadcrumb-item">CP-{{ project.alias }}-{{ project.get_period }}</a>
    <span class="breadcrumb-item active">Requerimientos</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}

{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Requerimientos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>Código</th>
                <th>Solicitante</th>
                <th>Prioridad</th>
                <th>Registrado</th>
                <th>Vencimiento</th>
                <th>Estado</th>
                <th>Opt.</th>
            </tr>
        </thead>
        <tbody>
            {% for requisition in object_list %}
            <tr>
                <td class="text-center"><a href="{% url 'requisitions:detail' requisition.pk %}">{{ requisition.code }}</a></td>
                <td>{{ requisition.applicant.collaborator.display_name }}</td>
                <td class="text-center">{{ requisition.get_priority_display }}</td>
                <td>{{ requisition.created_at|timezone:"America/Lima"|date:"d/m/Y H:m" }} hrs</td>
                <td>{{ requisition.requested_date|date:"d/m/Y" }}</td>
                <td>{{ requisition.get_state_display }}</td>
                <td>-</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}