{% extends "projects/project_base.html" %}
{% load static crispy_forms_tags %}

{% block content %}
<div class="card">
    <div class="card-body">
        <form>
            {% csrf_token %}
            {{ form|crispy }}
            <table class="table">
            {{ membership.management_form }}
            {% for mform in membership.forms %}
                <tr class="formset_row">
                {% for field in form.visible_fields %}
                    <td>{{ field }}</td>
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
            <button type="submit" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>
{% endblock content %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.min.js"></script>
<script type="text/javascript">
    $('.formset_row').formset({
        addText: 'Agregar fila',
        deleteText: 'Quitar',
        prefix: 'membership_set'
    });
</script>
{% endblock script %}