{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Limitless{% endblock title %}</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <!-- /favicon -->

    <!-- Global stylesheets -->
    {% block start_stylesheets %}{% endblock start_stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
    {% block end_stylesheets %}{% endblock end_stylesheets %}
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script src="{% static 'js/main/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/plugins/loaders/blockui.min.js' %}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    {% block before_app_js %}{% endblock before_app_js %}
    <script src="{% static 'js/app.js' %}"></script>
    {% block after_app_js %}{% endblock after_app_js %}
    <!-- /theme JS files -->

    <!-- Vue -->
    {% block vue_js %}{% endblock vue_js %}
    <!-- /vue -->

    <!-- Style -->
    {% block style %}{% endblock style %}
    <!-- /style -->

</head>

<body style="min-width: 360px">
{% block body %}{% endblock body %}
</body>
</html>