{% extends "seed.html" %}

{% load static %}

{# -------- Head -------- #}
{% block start_stylesheets %}
<link href="{% static 'css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/icons/fontawesome/styles.min.css' %}" rel="stylesheet" type="text/css">
{% endblock start_stylesheets %}


{% block end_stylesheets %}
<link href="{% static 'css/layout.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/components.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/colors.min.css' %}" rel="stylesheet" type="text/css">
{% endblock end_stylesheets %}


{% block vue_js %}
    <script src="{% static 'js/main/vue.js' %}"></script>
    <script src="{% static 'js/config/vue/vue.config.js' %}"></script>
{% endblock vue_js %}
{# -------- /head -------- #}

{# -------- Body -------- #}
{% block body %}
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark">
        <div class="navbar-brand">
            <a href="#" class="d-inline-block">
                <img src="{% static 'images/logo_light.png' %}" alt="Limitless" >
            </a>
        </div>

        <div class="d-md-none">
        {% block navbar_togglers %}{% endblock navbar_togglers %}
        </div>

        <div class="collapse navbar-collapse" id="navbar-mobile">
            <ul class="navbar-nav">
            {% block navbar_collapsers %}{% endblock navbar_collapsers %}
            </ul>

            <ul class="navbar-nav ml-auto">
                {% include "includes/main_navbar.html" %}
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        {% if user.is_authenticated and user.profile.profile_image %}
                            <img src="{{ user.profile.profile_image.url }}" class="rounded-circle mr-2" height="34" alt="">
                        {% else %}
                            <img src="{% static 'images/image.png' %}" class="rounded-circle mr-2" height="34" alt="">
                        {% endif %}
                        <span>{{ user.profile.first_name }}</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-user-plus"></i> Perfil</a>
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Configuración</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'logout' %}" class="dropdown-item"><i class="icon-switch2"></i> Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->


    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navegación
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->


            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body">
                        <div class="media">
                            <div class="mr-3">
                                <a href="#">
                                {% if user.is_authenticated and user.profile.profile_image %}
                                    <img src="{{ user.profile.profile_image.url }}" width="38" height="38" class="rounded-circle" alt="">
                                {% else %}
                                    <img src="{% static 'images/image.png' %}" width="38" height="38" class="rounded-circle" alt="">
                                {% endif %}
                                </a>
                            </div>

                            <div class="media-body">
                                <div class="media-title font-weight-semibold">{{ user.profile.display_name }}</div>
                                <div class="font-size-xs opacity-50">
                                    <i class="icon-briefcase font-size-sm mr-2"></i>{{ user.profile.position }}
                                </div>
                            </div>

                            <div class="ml-3 align-self-center">
                                {# TODO: Implementar y vincular edición de configuración #}
                                <a href="#" class="text-white"><i class="icon-cog3"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /user menu -->


                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar nav-sidebar-bordered" data-nav-type="accordion">

                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Principal</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            {# TODO: Implementar dashboard y vincular #}
                            <a href="#" class="nav-link">
                                <i class="icon-home4"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>
                        
                        {% block navigation %}
                        <li class="nav-item">
                            <a href="#" class="nav-link ">
                                <i class="icon-stack"></i>
                                <span>Link</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="icon-list-unordered"></i>
                                <span>Changelog</span>
                                <span class="badge bg-blue-400 align-self-center ml-auto">2.2</span>
                            </a>
                        </li>
                        {% endblock navigation %}
                        <!-- /main -->

                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->
            
        </div>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header page-header-light">
                <div class="page-header-content header-elements-md-inline">
                    <div class="page-title d-flex">
                        <h4>
                            {% block page_icon %}<i class="icon-arrow-right6 mr-2"></i>{% endblock page_icon %}
                            <span class="font-weight-semibold">{% block page_title %}Page Title{% endblock page_title %}</span>{% block page_secondary_title %}{% endblock page_secondary_title %}
                            <small class="d-block text-muted">{% block page_subtitle %}Page Sub-title{% endblock page_subtitle %}</small>
                        </h4>
                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                    {% block header_elements %}
                    <div class="header-elements d-flex align-items-center">
                        <button class="btn bg-teal-400 btn-icon btn-sm"><i class="icon-gear"></i></button>
                    </div>
                    {% endblock header_elements %}
                </div>
                
                <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
                    <div class="d-flex">

                        <!-- Breadcrumb -->
                        <div class="breadcrumb">
                        {% block breadcrumb %}
                            <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                            <a href="#" class="breadcrumb-item">Current</a>
                            <span class="breadcrumb-item active">Location</span>
                        {% endblock breadcrumb %}
                        </div>
                        <!-- /breadcrumb -->

                        <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
                    </div>
                    
                    {% block breadcrumb_elements %}
                    <div class="header-elements d-none">
                        <div class="breadcrumb justify-content-center">
                            <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
                                Actions
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
                                <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
                                <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
                                <div class="dropdown-divider"></div>
                                <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
                            </div>
                        </div>
                    </div>
                    {% endblock breadcrumb_elements %}
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">
            {% block content %}{% endblock content %}
            </div>
            <!-- /content area -->


            <!-- Footer -->
            <div class="navbar navbar-expand-lg navbar-light">
                <div class="text-center d-lg-none w-100">
                    <button type="button" class="navbar-toggler dropdown-toggle" data-toggle="collapse" data-target="#navbar-footer">
                        <i class="icon-unfold mr-2"></i>
                        Footer
                    </button>
                </div>

                <div class="navbar-collapse collapse" id="navbar-footer">
                    <span class="navbar-text">
                        &copy; 2020. <a href="#">Limitless</a> by <a href="https://www.linkedin.com/in/jmayta/" target="_blank">Jheison Mayta</a>
                    </span>

                    {% block footer_elements %}
                    <ul class="navbar-nav ml-lg-auto">
                        <li class="nav-item">
                            <a href="#" class="navbar-nav-link">Text link</a>
                        </li>

                        <li class="nav-item">
                            <a href="#" class="navbar-nav-link">
                                <i class="icon-lifebuoy"></i>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold">
                                <span class="text-pink-400">
                                    <i class="icon-cart2 mr-2"></i>
                                    Purchase
                                </span>
                            </a>
                        </li>
                    </ul>
                    {% endblock footer_elements %}

                </div>
            </div>
            <!-- /footer -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

{% endblock body %}
{# -------- /body -------- #}