<li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Requerimientos</div> <i class="icon-menu" title="Main"></i></li>
<li class="nav-item">
    <a href="{% url 'requisitions:list' %}" class="nav-link ">
        <i class="far fa-list-alt"></i>
        <span>Requerimientos</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'requisitions:lines' %}" class="nav-link ">
        <i class="fas fa-clipboard-list"></i>
        <span>Requerimientos por artículo</span>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'requisitions:things:requested' %}" class="nav-link">
        <i class="fas fa-th-list"></i>
        <span>Maestro de Artículos Requeridos</span>
    </a>
</li>