{% extends 'requisitions/requisition_base.html' %}
{% load static tz %}


{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'requisitions/js/requisition_list.js' %}"></script>
{% endblock after_app_js %}



{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %}<span class="font-weight-light text-grey-600"> / Lista</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}Lista de requerimientos{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Lista</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
            Filtrar
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="?state=PD" class="dropdown-item"><i class="icon-user-lock"></i> Pendientes</a>
            <a href="?state=IP" class="dropdown-item"><i class="icon-statistics"></i> En Progreso</a>
            <a href="?state=DN" class="dropdown-item"><i class="icon-statistics"></i> Atendidos</a>
            <a href="?state=CN" class="dropdown-item"><i class="icon-accessibility"></i> Anulados</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'requisitions:list' %}" class="dropdown-item"><i class="icon-gear"></i> Todos</a>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Requerimientos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a target="_blank" href="{% url 'admin:requisitions_requisition_add' %}" class="btn btn-sm btn-light ml-3"><i class="icon-database-add mr-2"></i> Nueva</a>
            </div>
        </div>
    </div>

    <table class="table datatable-responsive">
        <thead>
            <tr>
                <th></th>
                <th>#</th>
                <th class="text-nowrap">Vencimiento</th>
                <th class="text-nowrap">Proyecto</th>
                <th class="text-nowrap">Solicitante</th>
                <th>Prioridad</th>
                <th>Registro</th>
                <th>Estado</th>
            </tr>
        </thead>
        <tbody>
        {% for requisition in object_list %}
            <tr>
                <td></td>
                <td class="text-nowrap"><a href="{% url "requisitions:detail" requisition.pk %}">{{ requisition }}</a></td>
                <td>{{ requisition.requested_date|date:"Y-m-d" }}</td>
                <td><a href="{% url "projects:detail" requisition.project.pk %}">{{ requisition.project }}</a></td>
                <td><a href="#">{{ requisition.applicant.profile }}</a></td>
                <td class="text-center">
                    {% if requisition.priority == "ug" %}
                        <span class="badge badge-danger">{{ requisition.get_priority_display|title }}</span>
                    {% elif requisition.priority == "hi" %}
                        <span class="badge badge-warning">{{ requisition.get_priority_display|title }}</span>
                    {% elif requisition.priority == "me" %}
                        <span class="badge badge-primary">{{ requisition.get_priority_display|title }}</span>
                    {% else %}
                        <span class="badge badge-secondary">{{ requisition.get_priority_display|title }}</span>
                    {% endif %}
                </td>
                <td>{{ requisition.created_at|date:"Y-m-d H:i:s" }}</td>
                <td>
                    {% if requisition.state == "pd" %}
                        <span class="badge badge-secondary">{{ requisition.get_state_display|title }}</span>
                    {% elif requisition.state == "ip" %}
                        <span class="badge badge-primary">{{ requisition.get_state_display|title }}</span>
                    {% elif requisition.state == "dn" %}
                        <span class="badge badge-success">{{ requisition.get_state_display|title }}</span>
                    {% else %}
                        <span class="badge bg-grey">{{ requisition.get_state_display|title }}</span>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}