{% extends "layouts/sidebar_main.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE VENTANA
-------------------------------------------------------------------------------
{% endcomment %}
{% block title %}Limitless | Requerimientos{% endblock title %}


{% comment %}
-------------------------------------------------------------------------------
NAVEGACION LATERAL
-------------------------------------------------------------------------------
{% endcomment %}
{% block navigation %}
{% include "requisitions/_navigation.html" %}
{% endblock navigation %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="far fa-list-alt mr-2"></i>{% endblock page_icon %}
{% block page_title %}Requerimientos{% endblock page_title %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMBS
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'requisitions:list' %}" class="breadcrumb-item">Requerimientos</a>
{% endblock breadcrumb %}
