{% extends "requisitions/requisition_base.html" %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'requisitions/js/thing_requisition_list.js' %}"></script>
{% endblock after_app_js %}

{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Artículos</span>{% endblock page_secondary_title %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}Lista maestra de artículos requeridos{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">Maestro de art. requ.</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Artículos Requeridos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>Descripción</th>
                <th>Demanda</th>
                <th>UdM</th>
            </tr>
        </thead>
        <tbody>
            {% for requisition in object_list %}
            <tr>
                <td><a href="{% url 'requisitions:things:detail' requisition.thing %}">{{ requisition.thing__description }}</a></td>
                <td class="text-right">{{ requisition.qty_pending }}</td>
                <td class="text-center">{{ requisition.thing__default_uom__abbreviation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}

{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}