{% extends "requisitions/requisition_base.html" %}

{% load static %}

{% load crispy_forms_tags widget_tweaks %}


{% block theme_js_files %}
    <script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
    {{ block.super }}
{% endblock theme_js_files %}
    

{% block content %}
<form action="" method="POST" novalidate>
    {% csrf_token %}

    {{ form.non_field_errors }}

    {{ form|crispy }}

    {{ formset.management_form|crispy }}
    <div class="table-responsive">
        <table class="table table-striped" width="100%">
            <thead>
                <tr>
                    <th scope="col" class="text-center">Artículo</th>
                    <th scope="col" class="text-center" style="width: 15%">Cant.</th>
                    <th scope="col" class="text-center" style="width: 20%">Medida</th>
                    <th scope="col" class="text-center" style="width: 10%">¿Permanente?</th>
                    <th scope="col" class="text-center" style="width: 15%">Lapso</th>
                    <th scope="col" class="text-center" style="width: 10%"><i class="text-muted icon-cog2"></i></th>
                </tr>    
            </thead>
            <tbody>
                {% for form in formset %}
                    <tr class="requisition-line-form">
                        <td>{{ form.id }}{{ form.thing|add_class:"form-control select-search" }}</td>
                        <td>{{ form.quantity|add_class:"form-control" }}</td>
                        <td>{{ form.measure|add_class:"form-control select-search" }}</td>
                        <td class="text-center">{{ form.is_permanent }}</td>
                        <td>{{ form.lapse|add_class:"form-control" }}</td>
                        {% if form.instance.pk %}
                            <td class="text-center">{{ form.DELETE }}</td>
                        {% else %}
                            <td class="text-center"></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <br>
    <input type="submit" value="Enviar" class="btn btn-primary">
</form>

{% endblock content %}


{% block core_js %}
    {{ block.super }}
    <script src="{% static 'js/vendor/jquery.formset.js' %}"></script>
    <script>
        window.onload = function(){
            $('.requisition-line-form').formset({
                addText: 'Agregar item',
                deleteText: '<i class="icon-trash"></i>'
            });

            $('.select-search').select2();
        };
    </script>
{% endblock core_js %}
    