{% extends "requisitions/requisition_base.html" %}
{% load static %}


{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>
<script src="{% static 'requisitions/js/requisition_item_list.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %}<span class="font-weight-light text-grey-600"> / Disgregado</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}Lista disgregada de artículos requeridos{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Artículos Requeridos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <table class="table datatable-responsive">
        <thead>
            <tr>
                <td></td>
                <td>Nro. Req.</td>
                <td>Cliente</td>
                <td>Descripción</td>
                <td>Demanda</td>
                <td>Pendiente</td>
                <td>U.M.</td>
            </tr>
        </thead>
        <tbody>
            {% for line in object_list %}
            <tr>
                <td></td>
                <td><a href="{% url 'requisitions:detail' line.requisition.pk %}">#{{ line.requisition }}</a></td>
                <td><a href="{% url 'projects:detail' line.requisition.project.pk %}">{{ line.requisition.project }}</a></td>
                <td>{{ line.thing }}</td>
                <td>{{ line.base_demand }}</td>
                <td>{{ line.pending }}</td>
                <td>{{ line.thing.default_uom.abbreviation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}