{% extends 'requisitions/requisition_base.html' %}


{% block page_subtitle %}Lista de compras vinculadas{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% block breadcrumb %}
    {{ block.super }}
    <a class="breadcrumb-item" href="{% url 'requisitions:detail' object.pk %}">{{ object }}</a>
    <span class="breadcrumb-item active">Compras</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}
{% endblock breadcrumb_elements %}

{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Requerimientos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>PROVEEDOR</th>
                <th>TOTAL</th>
                <th>ESTADO</th>
            </tr>
        </thead>
        <tbody>
        {% for purchase in object_list %}
            <tr>
                <td class="text-nowrap"><a href="{% url 'purchases:detail' purchase.pk %}">{{ purchase }}</a></td>
                <td>{{ purchase.vendor }}</td>
                <td class="text-nowrap">{{ purchase.currency.symbol }} {{ purchase.amount_total|floatformat:2 }}</td>
                <td>{{ purchase.get_state_display }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>
{% endblock content %}