{% extends 'requisitions/requisition_base_dual.html' %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/footable/footable.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'requisitions/js/table_responsive.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Detalle</span>{% endblock page_secondary_title %}
{% block page_subtitle %}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <span class="breadcrumb-item active">{{ object }}</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
LEFT CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block left_content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h6 class="card-title">REQ #{{ object }}</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a href="{% url 'admin:requisitions_requisition_change' object.pk %}" class="btn btn-light btn-sm ml-2">
                    <i class="icon-pencil7 mr-2"></i>
                    Editar
                </a>
                {% comment %}
                <button type="button" class="btn btn-light btn-sm ml-2">
                    <i class="icon-printer mr-2"></i>
                    Imprimir
                </button>
                {% endcomment %}
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="mb-1">
                    <table class="table table-xs table-borderless">
                        <tbody>
                            <tr>
                                <th class="pl-0">Registro:</th>
                                <td class="text-right">
                                    {{ object.created_at|date:"D, d M Y H:i:s" }} <span>{{ object.created_at|date:"O" }}</span>
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0">Proyecto:</th>
                                <td class="text-right"><a href="{% url 'projects:detail' object.project.pk %}">{{ object.project }}</a></td>
                            </tr>
                            <tr>
                                <th class="pl-0">Solicitante:</th>
                                <td class="text-right">
                                    <a href="#">{{ object.applicant.get_full_name }}</a><br>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6 col-md-5 offset-md-1">
                <div class="mb-1">
                    <table class="table table-xs table-borderless">
                        <tbody>
                            <tr>
                                <th class="pl-0">Fecha Requerida:</th>
                                <td class="text-right">
                                    {{ object.requested_date|date:"D, d M Y" }}
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0">Prioridad:</th>
                                <td class="text-right">
                                    {% if requisition.priority == "ug" %}
                                        <span class="badge badge-danger">{{ requisition.get_priority_display|title }}</span>
                                    {% elif requisition.priority == "hi" %}
                                        <span class="badge badge-warning">{{ requisition.get_priority_display|title }}</span>
                                    {% elif requisition.priority == "me" %}
                                        <span class="badge badge-primary">{{ requisition.get_priority_display|title }}</span>
                                    {% else %}
                                        <span class="badge badge-secondary">{{ requisition.get_priority_display|title }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th class="pl-0">Estado:</th>
                                <td class="text-right">
                                    {% if object.state == "cr" %}
                                        <span class="badge bg-grey">{{ object.get_state_display|title }}</span>
                                    {% elif object.state == "op" %}
                                        <span class="badge badge-primary">{{ object.get_state_display|title }}</span>
                                    {% elif object.state == "cl" %}
                                        <span class="badge badge-success">{{ object.get_state_display|title }}</span>
                                    {% elif object.state == "cn" %}
                                        <span class="badge badge-danger">{{ object.get_state_display|title }}</span>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if object.state == "dn" %}
                            <tr>
                                <th class="pl-0">Fecha de Atención:</th>
                                <td class="text-right">
                                    {{ object.attention_date|date:"D, d M Y H:i:s" }}
                                </td>
                            </tr>
                            {% comment %}
                            TODO: Agregar "responsable de atención" a modelo requisition
                            <tr>
                                <th class="pl-0">Atendido por:</th>
                                <td class="text-right">
                                    <a href="#">{{ object.applicant.get_full_name }}</a><br>
                                </td>
                            </tr>
                            {% endcomment %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-12">
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <th class="pl-0">Motivo:</th>
                        </tr>
                        <tr>
                            <td class="pl-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, praesentium, sed. Deserunt dolor natus vitae? Alias at dolore error inventore laudantium libero reiciendis repellat voluptate? At libero quas ullam ut?</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <table class="table table-xs table-togglable table-hover">
        <thead>
            <tr>
                <th data-toggle="true">Descripción</th>
                <th data-hide="phone">Demanda</th>
                <th data-hide="phone">UdM</th>
                <th data-hide="phone, tablet">¿Permanente?</th>
                <th data-hide="phone, tablet">Desde</th>
                <th data-hide="phone, tablet">Hasta</th>
                <th class="text-center" style="width: 30px;"><i class="icon-menu-open2"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>
                    {{ item.thing.description }} <br>
                    <span class="text-muted">{{ item.thing.code }}</span>
                </td>
                <td>
                    {{ item.base_demand|floatformat:2 }}
                </td>
                <td>
                    {{ item.thing.default_uom.abbreviation }}
                </td>
                <td class="text-center">
                    {% if item.is_permanent %}
                    <i class="icon-check"></i>
                    {% endif %}
                </td>
                <td>
                    {% if item.is_permanent %}
                    &infin;
                    {% else %}
                    {{ item.requested_from|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td>
                    {% if item.is_permanent %}
                    &infin;
                    {% else %}
                    {{ item.requested_until|date:"d.m.Y" }}
                    {% endif %}
                </td>
                <td class="text-center">
                    <div class="list-icons">
                        <div class="dropdown">
                            <a href="#" class="list-icons-item" data-toggle="dropdown">
                                <i class="icon-menu9"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
                                <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
                                <a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-12 mb-1">
                <span class="h6 font-weight-semibold">Observaciones:</span>
            </div>
            <div class="col-sm-12">
                <p>{% lorem 1 b random %}</p>
            </div>
        </div>
        <!--
        <div class="row mt-3">
            <div class="col-sm-12 mb-3">
                <span class="font-weight-semibold">Aprobaciones:</span>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                {% get_media_prefix as MEDIA_PREFIX %}
                <div class="row justify-content-center">
                    <div class="col align-self-center" style="min-height:130px;">
                        <img src="{{ MEDIA_PREFIX }}/signatures/firma1.png" alt="firma1" style="width:160px;">
                    </div>
                </div>
                <span class="font-weight-semibold">Mario Sorjano</span><br>
                <span>DNI Nro 24568549</span>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                <div class="row justify-content-center">
                    <div class="col align-items-center" style="min-height:130px;">
                        <img src="{{ MEDIA_PREFIX }}/signatures/firma4.png" alt="firma1" style="width:160px;">
                    </div>
                </div>
                <span class="font-weight-semibold">Edson Bello</span><br>
                <span>DNI Nro 24568549</span>
            </div>
            <div class="col-sm-12 col-lg-4 text-center">
                <div class="row justify-content-center">
                    <div class="col align-items-center" style="min-height:130px;">
                        <img src="{{ MEDIA_PREFIX }}/signatures/firma3.png" alt="firma1" style="width:160px;">
                    </div>
                </div>
                <span class="font-weight-semibold">Mario Sorjano</span><br>
                <span>DNI Nro 24568549</span>
            </div>
        </div>
        -->
    </div>

    <div class="card-footer">
        <span class="text-muted"><span class="font-weight-bold">Nota:</span><br>Los requerimientos deberán ser enviados con anticipación, teniendo en cuenta los plazos de atención mencionados en el <a href="#">Procedimiento Para Requerimiento de Materiales y Servicios</a> del área de Logística.</span>
    </div>
</div>
{% endblock left_content %}


{% comment %}
-------------------------------------------------------------------------------
RIGHT CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block sidebar_content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h6 class="card-title">Operaciones</h6>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="collapse"></a>
            </div>
        </div>
    </div>

    <div class="card-body p-0">
        <ul class="nav nav-sidebar" data-nav-type="accordion">
            <li class="nav-item">
                <a href="{% url 'requisitions:purchases' object.pk %}" class="nav-link">
                    <i class="icon-bag mr-3"></i>
                    Compras
                    <span class="badge bg-primary badge-pill ml-auto">{{ purchase_list.count }}</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="icon-truck mr-3"></i>
                    Movimientos
                    <span class="badge bg-primary badge-pill ml-auto">0</span>
                </a>
            </li>
        </ul>
    </div>
</div>
{% endblock sidebar_content %}