{% extends "layouts/sidebar_content_right.html" %}
{% load static %}


{% block title %}Limitless | Requerimientos{% endblock title %}


{% block navigation %}
{% include "requisitions/_navigation.html" %}
{% endblock navigation %}


{% block page_icon %}<i class="icon-files-empty2 mr-2"></i>{% endblock page_icon %}
{% block page_title %}Requerimientos{% endblock page_title %}


{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Inicio</a>
    <a href="{% url 'requisitions:list' %}" class="breadcrumb-item">Requerimientos</a>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
            Filtrar
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="?state=PD" class="dropdown-item"><i class="icon-user-lock"></i> Pendientes</a>
            <a href="?state=IP" class="dropdown-item"><i class="icon-statistics"></i> En Progreso</a>
            <a href="?state=DN" class="dropdown-item"><i class="icon-statistics"></i> Atendidos</a>
            <a href="?state=CN" class="dropdown-item"><i class="icon-accessibility"></i> Anulados</a>
            <div class="dropdown-divider"></div>
            <a href="{% url 'requisitions:list' %}" class="dropdown-item"><i class="icon-gear"></i> Todos</a>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}