{% extends "requisitions/requisition_base.html" %}
{% load static %}

{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}


{% comment %}
-------------------------------------------------------------------------------
TITULO SECUNDARIO
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light text-grey-600">/ Artículo / Requerido</span>{% endblock page_secondary_title %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}Lista de requerimientos donde el artículo fue solicitado{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    {{ block.super }}
    <a href="{% url 'requisitions:things:requested' %}" class="breadcrumb-item">Maestro de art. requ.</a>
    <span class="breadcrumb-item active">Requerido</span>
{% endblock breadcrumb %}
{% block breadcrumb_elements %}{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-light header-elements-inline">
        <h5 class="card-title">Lista de Requerimientos</h5>
        <div class="header-elements">
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <div class="card-body">
        {{ thing.description }} fue solicitado en los siguientes requerimientos:
    </div>
    <table class="table datatable-basic">
        <thead>
            <tr>
                <th>Requerido en</th>
                <th>Proyecto</th>
                <th>Demanda</th>
                <th>UdM</th>
            </tr>
        </thead>
        <tbody>
            {% for requisition_detail in requisition_detail_list %}
            <tr>
                <td><a href="{% url 'requisitions:detail' requisition_detail.requisition.pk %}">#{{ requisition_detail.requisition }}</a></td>
                <td><a href="{% url 'projects:detail' requisition_detail.requisition.project.pk %}">{{ requisition_detail.requisition.project }}</a></td>
                <td>{{ requisition_detail.base_demand }}</td>
                <td>{{ thing.default_uom.abbreviation }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}