{% extends 'universal/universal_base.html' %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
JS Files
-------------------------------------------------------------------------------
{% endcomment %}
{% block before_app_js %}
<script src="{% static 'js/plugins/tables/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/plugins/tables/datatables/extensions/responsive.min.js' %}"></script>
<script src="{% static 'js/plugins/forms/selects/select2.min.js' %}"></script>
{% endblock before_app_js %}
{% block after_app_js %}
<script src="{% static 'js/config/datatables/datatable_responsive.js' %}"></script>

<script src="{% static 'universal/js/country_list.js' %}"></script>
{% endblock after_app_js %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="fas fa-box mr-2"></i>{% endblock page_icon %}
{% block page_title %}Países{% endblock page_title %}

{% comment %} TITULO SECUNDARIO {% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light">/ Lista</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="#" class="breadcrumb-item">Current</a>
    <span class="breadcrumb-item active">Location</span>
{% endblock breadcrumb %}

{% comment %} BREADCRUMB ELEMENTS {% endcomment %}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
            Actions
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
            <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h5 class="card-title">Países</h5>
        <div class="header-elements">
            <button type="button" class="btn btn-light btn-labeled btn-labeled-left btn-sm mr-3" data-target="#create_country_form" data-toggle="modal"><b><i class="fas fa-plus"></i></b> Registrar</button>
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>

    <table class="table countries-datatable">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>ISO 2</th>
                <th>ISO 3</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Edit form modal -->
<div id="create_country_form" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar País</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form action="#">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="country_name">Nombre</label>
                                <input id="country_name" type="text" placeholder="Perú" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="country_alpha2">Alpha-2</label>
                                <input id="country_alpha2" type="text" placeholder="PE" class="form-control">
                            </div>

                            <div class="col-sm-6">
                                <label for="country_alpha3">Alpha-3</label>
                                <input id="country_alpha3" type="text" placeholder="PER" class="form-control">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-success"><i class="icon-floppy-disk mr-2"></i> Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}
{% comment %} <ul class="navbar-nav ml-lg-auto">
    <li class="nav-item">
        <a href="#" class="navbar-nav-link">Text link</a>
    </li>

    <li class="nav-item">
        <a href="#" class="navbar-nav-link">
            <i class="icon-lifebuoy"></i>
        </a>
    </li>

    <li class="nav-item">
        <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold">
            <span class="text-pink-400">
                <i class="icon-cart2 mr-2"></i>
                Purchase
            </span>
        </a>
    </li>
</ul> {% endcomment %}
{% endblock footer_elements %}
