{% extends 'universal/universal_base.html' %}
{% load static %}


{% comment %}
-------------------------------------------------------------------------------
TITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_icon %}<i class="fas fa-box mr-2"></i>{% endblock page_icon %}
{% block page_title %}Países{% endblock page_title %}

{% comment %} TITULO SECUNDARIO {% endcomment %}
{% block page_secondary_title %} <span class="font-weight-light">/ Detalle</span>{% endblock %}


{% comment %}
-------------------------------------------------------------------------------
SUBTITULO DE PAGINA
-------------------------------------------------------------------------------
{% endcomment %}
{% block page_subtitle %}{{ object.name }}{% endblock page_subtitle %}
{% block header_elements %}{% endblock header_elements %}


{% comment %}
-------------------------------------------------------------------------------
BREADCRUMB
-------------------------------------------------------------------------------
{% endcomment %}
{% block breadcrumb %}
    <a href="#" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
    <a href="#" class="breadcrumb-item">Current</a>
    <span class="breadcrumb-item active">Location</span>
{% endblock breadcrumb %}

{% comment %} BREADCRUMB ELEMENTS {% endcomment %}
{% block breadcrumb_elements %}
<div class="header-elements d-none">
    <div class="breadcrumb justify-content-center">
        <a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
            Actions
        </a>

        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
            <a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
            <a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
        </div>
    </div>
</div>
{% endblock breadcrumb_elements %}


{% comment %}
-------------------------------------------------------------------------------
CONTENT
-------------------------------------------------------------------------------
{% endcomment %}
{% block content %}
<div class="card">
    <div class="card-header bg-white header-elements-inline">
        <h6 class="card-title">{{ object.name }}</h6>
        <div class="header-elements">
            <button class="btn btn-light btn-labeled btn-labeled-left btn-sm mr-3"><b><i class="fas fa-plus"></i></b> Registrar</button>
            <div class="list-icons">
                <a class="list-icons-item" data-action="reload"></a>
            </div>
        </div>
    </div>
    <div class="table-responsive">

    </div>
</div>
{% endblock content %}


{% comment %}
-------------------------------------------------------------------------------
FOOTER
-------------------------------------------------------------------------------
{% endcomment %}
{% block footer_elements %}
{% comment %} <ul class="navbar-nav ml-lg-auto">
    <li class="nav-item">
        <a href="#" class="navbar-nav-link">Text link</a>
    </li>

    <li class="nav-item">
        <a href="#" class="navbar-nav-link">
            <i class="icon-lifebuoy"></i>
        </a>
    </li>

    <li class="nav-item">
        <a href="https://themeforest.net/item/limitless-responsive-web-application-kit/13080328?ref=kopyov" class="navbar-nav-link font-weight-semibold">
            <span class="text-pink-400">
                <i class="icon-cart2 mr-2"></i>
                Purchase
            </span>
        </a>
    </li>
</ul> {% endcomment %}
{% endblock footer_elements %}


{% comment %}
-------------------------------------------------------------------------------
SCRIPTS
-------------------------------------------------------------------------------
{% endcomment %}
{% block script %}{% endblock script %}